<script lang="ts">
	import { onMount } from 'svelte';

	import type { iLyric } from '$lib/types';
	import Box from '$lib/modernized/Themes/Default/Components/BoxDefault.svelte';
	import Loader4 from '$components/Loader4.svelte';

	export let lyric: iLyric;
	export let loaderVisible: boolean = false;
	export let error: string = undefined;
</script>

<Box>
	<span slot="header">Lyric</span>
	<div slot="content">
		{#if lyric}{lyric.lyric}{/if}
		{#if error}{error}{/if}
		<Loader4 visible={loaderVisible} />
	</div>
</Box>
