<script lang="ts">
	// import { push } from 'svelte-spa-router';
	import { goto } from '$app/navigation';
	import Box from '$lib/modernized/Themes/Default/Components/BoxDefault.svelte';
	import Loader4 from '$components/Loader4.svelte';
	import Button from '$components/Button.svelte';
	import type { iPost } from '$lib/types';

	export let recentJournals: iPost[] = [];
	export let loaderVisible: boolean = false;
	export let error: string = undefined;
</script>

<Box>
	<span slot="header">User Journals</span>
	<div class="stack recent-content" slot="content">
		{#if recentJournals}
			{#each recentJournals as post (post.ID)}
				<div class="recent-post">
					<a href="/journals/{post.user_id}/posts/{post.ID}">
						{post.title || '~blank~'}
					</a>
					by {post.user.username}
				</div>
			{/each}
		{:else}
			<div>No recent Journal activity</div>
		{/if}
		{#if error}{error}{/if}
		<Loader4 visible={loaderVisible} />
		<div class="active-users">
			<!-- <a href="#/journals/users" name="active_users">Active Users List</a> -->
			<Button
				on:click={() => {
					goto('/users');
				}}
			>
				Active Users List
			</Button>
		</div>
	</div>
</Box>

<style>
	.recent-content {
		--space: 0.75rem;
	}
	.active-users {
		display: flex;
		justify-content: center;
		margin-top: calc(var(--spacing, 4pt) * 2);
	}
</style>
