<script lang="ts">
	import { getContext } from 'svelte';
	import { goto } from '$app/navigation';
	import auth from '$stores/authenticatedUserStore';
	import Box from '$lib/modernized/Themes/Default/Components/BoxDefault.svelte';
	import Button from '$components/Button.svelte';

	const { theme, toggle } = getContext('theme');

	export let onClickAddPost;
	export let handleSignInOutClick;
</script>

<Box>
	<span slot="header">
		{#if $auth.user.ID == 0}
			Welcome!
		{:else}Welcome {$auth.user.username}!{/if}
	</span>
	<div class="stack" slot="content">
		<Button on:click={toggle}>{$theme.name}</Button>
		<Button on:click={handleSignInOutClick}>
			{#if $auth.user.ID > 0}Sign Out{:else}Sign In{/if}
		</Button>
		{#if $auth.user?.ID === 0}
			<Button
				on:click={() => {
					goto('/signup');
				}}
			>
				Join us
			</Button>
		{:else}
			<Button
				on:click={() => {
					goto(`/journals/${$auth.user.ID}`);
				}}
			>
				View your Journal
			</Button>
			<Button on:click={onClickAddPost}>Add a post</Button>
			<Button
				on:click={() => {
					goto(`/users/${$auth.user.ID}`);
				}}>Edit your profile</Button
			>
		{/if}
	</div>
</Box>
