@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,700italic,900italic,500italic,300italic,400italic,100italic,900,700,500);

body
{
	background-color: rgb(245, 245, 245);
	font-family: Roboto,verdana,arial,serif;
	font-size: 11pt;
	color: rgb(34, 34, 34);
}

td {
	font-size: 11pt;
}

a:link {
	color: #333333;
	font-weight: 500;
	background-color: transparent;
	text-decoration: none;	
}

a:hover, a:focus {
	background-color: transparent;
	text-decoration: none;
	color: #999999;
}
a:visited {
	background-color: transparent;
	text-decoration: none;
	color: #333333;	
}

a.menu {
	height: 20px;
	border: solid 1px rgba(170, 170, 170, 0.65);
	border-width: 1px;
	border-radius: 8px;
	background: #aaaaaa;
	background: -webkit-gradient(linear, left top, left bottom, from(#aaaaaa), to(#222222));
	background: -webkit-linear-gradient(top, #aaaaaa, #222222);
	background: -moz-linear-gradient(top, #aaaaaa, #222222);
	background: -ms-linear-gradient(top, #aaaaaa, #222222);
	background: -o-linear-gradient(top, #aaaaaa, #222222);
    	font-weight: bold;    
	color: #ffffff;
	font-size: 10pt;
	margin: 5px;
    	padding: 8px;
    	padding-left: 16px;
    	padding-right: 16px;    
	text-align: center;
    	-webkit-transition: all linear 0.5s; /* Safari */
    	transition: all linear 0.5s;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-webkit-transform: scale(1);
}

a.menu:active, a.menu:focus, a.menu:hover {
	background: #aaaaaa;
	text-decoration: none;
	-webkit-backface-visibility: hidden;
	-webkit-box-shadow: 0 0 8px 1px #000000;
	box-shadow: 0 0 8px 1px #000000;
	-webkit-transform-style: preserve-3d;
}

a.menu:visited {
	text-decoration: none;
	color: #ffffff;
}

img {
	border: 0px;
}

div.rightalign {
	text-align: right;
}

div.logo {
	background: url("logo.png");
	background-repeat: no-repeat;
	width: 300px;
	height: 65px;
	float: left;
}

div.mainmenu {
	color: #FFFFFF;
	padding: 20px;
	float: right;
	text-align: right;
	position: relative;
}

div.tagline {
    color: rgb(34, 34, 34);
	clear: both;
    font-size: 1.15em;
    font-weight: bold;
	padding: 4px;
    padding-left: 20px;
	text-align: left;
}

div.entrytop {

	float: left;
	clear: both;
}

div.entry {

	background-repeat: no-repeat;
	width: 84px;
	height: 40px;
	float: left;
}

div.date {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aaaaaa+0,222222+100 */
	background: rgb(170,170,170); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(170,170,170,1) 0%, rgba(34,34,34,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(170,170,170,1)), color-stop(100%,rgba(34,34,34,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(170,170,170,1) 0%,rgba(34,34,34,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(170,170,170,1) 0%,rgba(34,34,34,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(170,170,170,1) 0%,rgba(34,34,34,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(170,170,170,1) 0%,rgba(34,34,34,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaaaaa', endColorstr='#222222',GradientType=0 ); /* IE6-9 */   
	color: #ffffff;
	font-family: Roboto, verdana, sans-serif;
	font-size: 15px;    
    font-weight: bold;     
	text-align: left;
	height: 23px;
	width: 100%;
	padding-left: 16px;

	border-width: 1px;

	padding-top: 4px;
	margin-left: 84px;

	-webkit-border-top-left-radius: 8px;
	-khtml-border-radius-topleft: 8px;	
	-moz-border-radius-topleft: 8px;
	border-top-left-radius: 8px;	

	-webkit-border-top-right-radius: 8px;
	-khtml-border-radius-topright: 8px;	
	-moz-border-radius-topright: 8px;
	border-top-right-radius: 8px;
	
}

div.lineend {
	height: 32px;
}

div.postend {
	clear: both;
}

div.post {	
	float: left;
	width: 100%;
	min-width: 20%;	
}

div.entrycontainer {
	width: 100%;
	clear: both;
	margin-bottom: 20px;
}

div.header {
	width: 100%;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

div.footer {
	width: 100%;
	clear: both;
	font-size: 8pt;
	text-align: center;
}

div.footer a img
{
	margin-right: 10px;
	transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
}

div.footer a img:hover
{
	opacity: 0.4;
	filter: alpha(opacity=40);
}

div.posts {		
    float: left;
	max-width: 80%;
    padding-right: 20px;
}

div.posts>div
{
}

* html body div.posts {width: 80%;}

div.boxes {	
    float: right;
	width: 18%;
}

div.box {
	width: 100%;
	margin-bottom: 20px;
}

div.boxcontent {
	background: #ffffff;
	background-repeat: no-repeat;
	padding: 8px;
	border: solid #dddddd;
	border-width: 1px;
	font-size: 10pt;
	
	-webkit-border-bottom-left-radius: 7px;
	-khtml-border-radius-bottomleft: 7px;	
	-moz-border-radius-bottomleft: 7px;
	border-bottom-left-radius: 7px;	

	-webkit-border-bottom-right-radius: 7px;
	-khtml-border-radius-bottomright: 7px;	
	-moz-border-radius-bottomright: 7px;
	border-bottom-right-radius: 7px;
}


div.boxtop {
	font-family: Roboto, verdana, sans-serif;
    font-weight: bold;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aaaaaa+0,222222+100 */
	background: rgb(170,170,170); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(170,170,170,1) 0%, rgba(34,34,34,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(170,170,170,1)), color-stop(100%,rgba(34,34,34,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(170,170,170,1) 0%,rgba(34,34,34,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(170,170,170,1) 0%,rgba(34,34,34,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(170,170,170,1) 0%,rgba(34,34,34,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(170,170,170,1) 0%,rgba(34,34,34,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaaaaa', endColorstr='#222222',GradientType=0 ); /* IE6-9 */

	color: #ffffff;
	font-size: 13px;
	text-align: left;
	text-transform: uppercase;
	height: 30px;

	padding-left: 10px;
	padding-top: 8px;
		
	border-width: 1px;

	-webkit-border-top-left-radius: 8px;
	-khtml-border-radius-topleft: 8px;	
	-moz-border-radius-topleft: 8px;
	border-top-left-radius: 8px;	

	-webkit-border-top-right-radius: 8px;
	-khtml-border-radius-topright: 8px;	
	-moz-border-radius-topright: 8px;
	border-top-right-radius: 8px;
}

div#lastfm_content a img
{
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

div#lastfm_content a img:hover
{
	-webkit-box-shadow: 0 0 2px 1px #000000;
	box-shadow: 0 0 2px 1px #000000;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

div.lyrictop {
	height: 30px;
	width: 100%;
	background: url("lyrictop.png");
	background-repeat: no-repeat;
}

div.leftside {
	background: url("leftside.png");
	background-repeat: no-repeat;
	width: 4px;
	height: 200px;
	float: left;
}

div.rightside {
	background: url("leftside.png");
	background-repeat: no-repeat;
	width: 4px;
	height: 200px;
	float: right;
}

hr { 
	display: block; 
	height: 1px;
    	border: 0; 
	border-top: 1px solid #dddddd;
    	margin: 1em 0; 
	padding: 0; 
}

div.postcontent img {
	max-width: 100%
}

div.postcontent {
	color: #000000;
	font-size: 10pt;
	background: #ffffff;
	background-repeat: no-repeat;
	margin-left: 84px;
	margin-top: 0px;
	border: solid #dddddd;
	border-width: 1px;
	padding: 10px;

	-webkit-border-top-right-radius: 8px;
	-khtml-border-radius-topright: 8px;	
	-moz-border-radius-topright: 8px;
	border-top-right-radius: 8px;

	-webkit-border-bottom-left-radius: 7px;
	-khtml-border-radius-bottomleft: 7px;	
	-moz-border-radius-bottomleft: 7px;
	border-bottom-left-radius: 7px;	

	-webkit-border-bottom-right-radius: 7px;
	-khtml-border-radius-bottomright: 7px;	
	-moz-border-radius-bottomright: 7px;
	border-bottom-right-radius: 7px;	
}

div.commentcontainer {	
	clear: both;
	width: 100%;
	margin-bottom: 15px;
}

div.post_comment {		
	color: black;
	background: #FFFFFF;
	background-position: right bottom;
	background-repeat: no-repeat;
	border: solid #dddddd;
	border-width: 1px;
	padding: 6px;
	margin-left: 85px;

	-webkit-border-top-left-radius: 7px;
	-khtml-border-radius-topleft: 7px;	
	-moz-border-radius-topleft: 7px;
	border-top-left-radius: 7px;

	-webkit-border-top-right-radius: 7px;
	-khtml-border-radius-topright: 7px;	
	-moz-border-radius-topright: 7px;
	border-top-right-radius: 7px;

	-webkit-border-bottom-left-radius: 7px;
	-khtml-border-radius-bottomleft: 7px;	
	-moz-border-radius-bottomleft: 7px;
	border-bottom-left-radius: 7px;	

	-webkit-border-bottom-right-radius: 7px;
	-khtml-border-radius-bottomright: 7px;	
	-moz-border-radius-bottomright: 7px;
	border-bottom-right-radius: 7px;	
}

div.clearer {
	clear: both;
}

div.vent_options_title {
	font-size: 12pt;
	font-weight: bold;
	clear: both;

}

div.vent_system_error {
	color: red;
}


div.quote {
	margin-left: 20px;
	padding: 4px;
	background: url("quote_bg.png");
}


div.code {
	margin-left: 20px;
	padding: 4px;
	background: url("quote_bg.png");
	font-family: Courier New, Courier;
}

form#ajax_newcomment-inplaceeditor {
	padding: 10px;
}

input[type=submit] {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aaaaaa+0,222222+100 */
	background: rgb(170,170,170); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(170,170,170,1) 0%, rgba(34,34,34,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(170,170,170,1)), color-stop(100%,rgba(34,34,34,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(170,170,170,1) 0%,rgba(34,34,34,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(170,170,170,1) 0%,rgba(34,34,34,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(170,170,170,1) 0%,rgba(34,34,34,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(170,170,170,1) 0%,rgba(34,34,34,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaaaaa', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
	border-radius: 8px;
	border: none;
	color: #ffffff;	
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	text-transform: uppercase;
	padding: 5px 20px;
}
