<script lang="ts">
	import { onMount, onDestroy } from 'svelte';
	import { browser } from '$app/env';

	import { fade } from 'svelte/transition';
	import ThemeContext from '$lib/theming/ThemeContext.svelte';
	import HeaderWrapper from '$lib/modernized/Themes/HeaderWrapper.svelte';
	import RecentPostsBoxWrapper from '$lib/modernized/Themes/AsideWrappers/RecentPostsBoxWrapper.svelte';
	import LyricBoxWrapper from '$lib/modernized/Themes/AsideWrappers/LyricsBoxWrapper.svelte';
	import UserActionBoxWrapper from '$lib/modernized/Themes/AsideWrappers/UserActionsBoxWrapper.svelte';
	import AdminBoxWrapper from '$lib/modernized/Themes/AsideWrappers/AdminBoxWrapper.svelte';
	import LoginDialog from '$lib/modernized/LoginDialog.svelte';

	import RootContainer from '$components/RootContainer.svelte';

	function onLogin(event) {
		// Eventually redirect to where they were
		// if ($page.path === '/' && $auth.user.ID) {
		// 	goto(`/journals/${$auth.user.ID}`);
		// }
	}

	// Currently doesn't do anything. Could if we wanted to
	function onLogout(event) {}

	onMount(() => {
		if (!browser) return;
		document.addEventListener('login', onLogin);
		document.addEventListener('logout', onLogout);
	});
	onDestroy(() => {
		if (!browser) return;
		document.removeEventListener('login', onLogin, true);
		document.removeEventListener('logout', onLogout, true);
	});

	import theme from '$stores/themeStore';

	$: console.log($theme.name);
</script>

<ThemeContext>
	<HeaderWrapper headerComponent={$theme.header} />
	<!-- <HeaderWrapper /> -->
	<RootContainer>
		<main>
			<slot />
		</main>
		<nav class="stack">
			<UserActionBoxWrapper boxComponent={$theme.userActionsBox} />
			<LyricBoxWrapper boxComponent={$theme.lyricsBox} />
			<AdminBoxWrapper boxComponent={$theme.adminBox} />
			<RecentPostsBoxWrapper boxComponent={$theme.recentPostsBox} />
		</nav>
	</RootContainer>
	<LoginDialog />
</ThemeContext>

<style>
	main {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		position: static;
	}

	/* footer {
		display: flex;
		flex-direction: row;
		flex: 0 0 auto;
		height: 100px;
	} */

	nav {
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		width: 220pt;
		position: relative;
		right: 0;
		transition: right 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
		z-index: 21;
	}
</style>
