<script lang="ts" context="module">
	import type { iPost } from '$lib/types';
	import { basePath } from '$config/config';
	// import { status } from '$lib/api/api';
	export async function load({ page, fetch, session, stuff }) {
		let journalPosts: iPost[] = undefined;
		let res = await fetch(`${basePath}/api/v1/journals`);

		if (res.ok) {
			journalPosts = (await res.json()) || [];
		}

		return {
			props: {
				initialPosts: journalPosts
			}
		};
	}
</script>

<script lang="ts">
	import JournalWrapper from '$lib/modernized/Themes/JournalWrapper.svelte';

	export let initialPosts: iPost[];
	let params = {};

	import theme from '$stores/themeStore';
	theme.setTheme('Default');
</script>

<svelte:head>
	<title>Ventilation 3...The Search for More Ventilation</title>
</svelte:head>

<JournalWrapper journalComponent={$theme.journal} {initialPosts} {params} />

<style>
</style>
