<script lang="ts" context="module">
	export const prerender = true;
</script>

<script lang="ts">
	import ThemeContext from '$lib/theming/ThemeContext.svelte';
	import Header from '$lib/modernized/Themes/Default/HeaderDefault.svelte';
	import RootContainer from '$components/RootContainer.svelte';
	import auth from '$stores/authenticatedUserStore';
</script>

<ThemeContext>
	<Header />
	<RootContainer>
		<main class="stack">Error!</main>
	</RootContainer>
</ThemeContext>

<style>
	main {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
	}
</style>
