<script lang="ts">
	import { fade } from 'svelte/transition';
	export let width: number = 600;
</script>

<section
	class="column border-radius raised"
	style="--width: {width}px;"
	in:fade={{ delay: 300, duration: 250 }}
	out:fade={{ delay: 0, duration: 250 }}
>
	<div class="header border-top-radius"><slot name="header" /></div>

	<slot />
</section>

<style>
	section {
		display: flex;
		flex-direction: column;
		flex: 0 0 auto;
		width: var(--width, 600px);
		margin: 0px auto auto auto;
		background-color: var(--bg-panel, transparent);
	}
</style>
