<script lang='ts'>
//https://codepen.io/wontem/pen/jGvlI/
export let visible: boolean = false;
export let window: boolean = false;
</script>
<!--     Loader4     -->

{#if visible}
<div class="preloader4"
    class:window>
    <div class="loader4">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
{/if}

<!--     Loader4     -->
<style>

.window {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.preloader4 {
  
  width: 200px;
  height: 2px;
  margin: auto;
}

.loader4 {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.loader4 div {
  -webkit-box-flex: 1;
          flex: 1;
  background: var(--accent, blue);;
  -webkit-animation: go 0.8s infinite alternate ease;
          animation: go 0.8s infinite alternate ease;
  box-shadow: 0 0 20px var(--accent, blue);
}
.loader4 div:nth-child(1) {
  -webkit-animation-delay: -0.72s;
          animation-delay: -0.72s;
}
.loader4 div:nth-child(2) {
  -webkit-animation-delay: -0.64s;
          animation-delay: -0.64s;
}
.loader4 div:nth-child(3) {
  -webkit-animation-delay: -0.56s;
          animation-delay: -0.56s;
}
.loader4 div:nth-child(4) {
  -webkit-animation-delay: -0.48s;
          animation-delay: -0.48s;
}
.loader4 div:nth-child(5) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.loader4 div:nth-child(6) {
  -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s;
}
.loader4 div:nth-child(7) {
  -webkit-animation-delay: -0.24s;
          animation-delay: -0.24s;
}
.loader4 div:nth-child(8) {
  -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s;
}
.loader4 div:nth-child(9) {
  -webkit-animation-delay: -0.08s;
          animation-delay: -0.08s;
}
.loader4 div:nth-child(10) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes go {
  100% {
    background: transparent;
    -webkit-box-flex: 10;
            flex: 10;
    box-shadow: 0 0 0 transparent;
  }
}

@keyframes go {
  100% {
    background: transparent;
    -webkit-box-flex: 10;
            flex: 10;
    box-shadow: 0 0 0 transparent;
  }
}
</style>