<script lang='ts'>
    //https://codepen.io/havardob/pen/VjjJey/

    export let visible: boolean = false;
</script>
<!--     Loader3     -->

{#if visible}
<div class='loader3' />
{/if}

<!--     Loader3     -->
<style>
.loader3 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50px;
  height: 6px;
  background: #BA55D3;
  border-radius: 3px;
  -webkit-animation: load 1.5s ease-in-out infinite;
          animation: load 1.5s ease-in-out infinite;
}
.loader3:before, .loader3:after {
  position: absolute;
  display: block;
  content: "";
  -webkit-animation: load 1.5s ease-in-out infinite;
          animation: load 1.5s ease-in-out infinite;
  height: 6px;
  border-radius: 3px;
}
.loader3:before {
  top: -10px;
  left: 10px;
  width: 40px;
  background: #FF00FF;
}
.loader3:after {
  bottom: -10px;
  width: 35px;
  background: #9370DB;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  50% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
}

@keyframes load {
  0% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  50% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
}

</style>