<script lang="ts">
	import { fade } from 'svelte/transition';
	export let row: boolean = true;
</script>

<div class="root" class:row class:column={!row} transition:fade>
	<slot />
</div>

<style>
	.root {
		display: flex;
		flex: 1 1 auto;
		margin: 0 auto;
		width: clamp(550pt, 900pt, 100%);
	}

	.row {
		flex-direction: row;
	}

	.column {
		flex-direction: column;
	}
</style>
