<script lang="ts" context="module">
	export const prerender = true;

	// export async function load({ page }) {
	// }
</script>

<script lang="ts">
	import { fade } from 'svelte/transition';
	import { goto } from '$app/navigation';
	import { browser } from '$app/env';
	import { page } from '$app/stores';
	import ThemeContext from '$lib/theming/ThemeContext.svelte';
	import Header from '$lib/modernized/Themes/Default/HeaderDefault.svelte';
	import RootContainer from '$components/RootContainer.svelte';
	import ContentContainer from '$components/ContentContainer.svelte';
	import Button from '$components/Button.svelte';
	import Textfield from '$components/Textfield.svelte';
	import Loader2 from '$components/Loader2.svelte';
	import auth from '$stores/authenticatedUserStore';

	let username: string = '';
	let password: string = '';
	let messageContent: string = '';
	let loaderVisible: boolean = false;
	let focusUsername: boolean = false;
	let focusPassword: boolean = false;
	let disableSignin: boolean = false;

	const onKeyPress = (e) => {
		if (e.key === 'Enter') {
			if (!username.trim().length) {
				focusUsername = true;
				return;
			}
			if (!password.trim().length) {
				focusPassword = true;
				return;
			}
			onLogin(null);
		}
	};

	const onLogin = async (e) => {
		loaderVisible = true;
		auth.login(username.trim(), password.trim());
	};

	$: disableSignin = !username.trim() || !password.trim();

	$: if ($page.query.has('message')) {
		switch ($page.query.get('message')) {
			case 'user_confirmed':
				messageContent = 'Success! Thank you for joining us. Please sign in to your new account.';
				break;
			default:
				messageContent = undefined;
				break;
		}
	}

	$: {
		if (browser) {
			if ($auth.user.ID !== 0) {
				loaderVisible = false;
				goto(`/journals/${$auth.user.ID}`);
			}
			if ($auth.error) {
				loaderVisible = false;
			}
		}
	}
</script>

<ThemeContext>
	<a href="/">
		<Header />
	</a>
	<RootContainer>
		<main class="stack" in:fade={{ delay: 250, duration: 250 }} out:fade={{ duration: 250 }}>
			<ContentContainer>
				<svelte:fragment slot="header">Sign In</svelte:fragment>

				<form class="content container-content" id="signin-form" on:submit|preventDefault={onLogin}>
					{#if messageContent}
						<div class="message" transition:fade>{messageContent}</div>
					{/if}
					<Textfield
						name="username"
						id="username"
						disabled={loaderVisible}
						required
						bind:value={username}
						label="username"
						message="Your account name"
						bind:focus={focusUsername}
						on:keypress={onKeyPress}
						tabindex="1"
					/>
					<Textfield
						type="password"
						name="password"
						id="password"
						disabled={loaderVisible}
						required
						bind:value={password}
						label="password"
						message="Your password"
						bind:focus={focusPassword}
						on:keypress={onKeyPress}
						tabindex="2"
					/>
					{#if $auth.error}
						<div class="error" transition:fade>
							{$auth.error}
						</div>
					{/if}

					<div class="horizontal-stack" style="flex-direction: row-reverse;">
						<Button tabindex="3" color="primary" disabled={disableSignin} type="submit">
							Submit
						</Button>
					</div>
				</form>
			</ContentContainer>
		</main>
		<Loader2 visible={loaderVisible} />
	</RootContainer>
</ThemeContext>

<style>
	main {
		width: 100%;
		height: 100%;
	}

	.error {
		font-size: 1.1rem;
		color: rgb(151, 15, 45);
	}
	.message {
		font-size: 1.2rem;
		color: rgb(0, 163, 87);
	}

	.container-content {
		padding: var(--spacing, 8px);
		flex: 0 0 auto;
	}
</style>
