<script lang="ts" context="module">
	import { basePath } from '$config/config';
	import type { iPost } from '$lib/types';

	export async function load({ page, fetch }) {
		let user_id: number = 0;
		let post_id: number = 0;
		const params = page.params.rest.split('/');
		user_id = params[0];
		if (params.length === 2) {
			return {
				redirect: `/journals/${user_id}`,
				status: 301
			};
		}
		if (params.length === 3) {
			post_id = params[2];
		}
		let journalPosts: iPost[] = [];
		let res = await fetch(`${basePath}/api/v1/journals/${user_id}`);

		if (res.ok) {
			journalPosts = await res.json();
		}

		return {
			props: {
				initialPosts: journalPosts,
				user_id: user_id,
				post_id: post_id
			}
		};
	}
</script>

<script lang="ts">
	import JournalWrapper from '$lib/modernized/Themes/JournalWrapper.svelte';
	import theme from '$stores/themeStore';

	export let user_id: string = undefined;
	export let post_id: string = undefined;
	export let initialPosts: iPost[] = [];

	let title: string = 'Vent 3';
	let params;
	$: {
		params = { user_id: user_id, post_id: post_id };

		if (user_id === '2') {
			theme.setTheme('Comic');
		} else {
			theme.setTheme('Default');
		}
	}

	$: if (initialPosts?.length) {
		title = `Vent3: ${initialPosts[0].user.username}'s Journal`;
	}
</script>

<svelte:head>
	<title>{title}</title>
</svelte:head>

<JournalWrapper journalComponent={$theme.journal} {initialPosts} {params} />
