<script lang="ts" context="module">
	export const prerender = true;
</script>

<script lang="ts">
	import { fade } from 'svelte/transition';
	import { goto } from '$app/navigation';
	import { browser } from '$app/env';
	import { page } from '$app/stores';
	import ThemeContext from '$lib/theming/ThemeContext.svelte';
	import Header from '$lib/modernized/Themes/Default/HeaderDefault.svelte';
	import RootContainer from '$components/RootContainer.svelte';
	import ContentContainer from '$components/ContentContainer.svelte';
	import Button from '$components/Button.svelte';
	import Textfield from '$components/Textfield.svelte';
	import auth from '$stores/authenticatedUserStore';

	let first: string = '';
	let second: string = '';
	let messageContent: string = '';
	let loaderVisible: boolean = false;
	let focusUsername: boolean = false;
	let focusPassword: boolean = false;
	let disableSignin: boolean = false;

	const onKeyPress = (e) => {
		if (e.key === 'Enter') {
			if (!first.trim().length) {
				focusUsername = true;
				return;
			}
			if (!second.trim().length) {
				focusPassword = true;
				return;
			}
			onChangePassword(null);
		}
	};

	async function onChangePassword(e) {
		loaderVisible = true;
		// auth.login(username.trim(), password.trim());
	}

	$: disableSignin = !first.trim() || !second.trim();

	$: if ($page.query.has('message')) {
		switch ($page.query.get('message')) {
			case 'user_confirmed':
				messageContent = 'Success! Thank you for joining us. Please sign in to your new account.';
				break;
			default:
				messageContent = undefined;
				break;
		}
	}

	$: {
		if (browser) {
			if ($auth.user.ID !== 0) {
				loaderVisible = false;
				goto(`/journals/${$auth.user.ID}`);
			}
			if ($auth.error) {
				loaderVisible = false;
			}
		}
	}
</script>

<ThemeContext>
	<a href="/">
		<Header />
	</a>
	<RootContainer>
		<main class="stack" in:fade={{ delay: 250, duration: 250 }} out:fade={{ duration: 250 }}>
			<ContentContainer>
				<svelte:fragment slot="header">Reset your password</svelte:fragment>

				<form
					class="content container-content"
					id="signin-form"
					on:submit|preventDefault={onChangePassword}
				>
					{#if messageContent}
						<div class="message" transition:fade>{messageContent}</div>
					{/if}
					<Textfield
						name="new-password"
						id="new-password"
						type="password"
						disabled={loaderVisible}
						required
						bind:value={first}
						label="New Password"
						message="Type a new password"
						bind:focus={focusUsername}
						on:keypress={onKeyPress}
						tabindex="1"
					/>
					<Textfield
						type="confirm-password"
						name="confirm-password"
						id="confirm-password"
						disabled={loaderVisible}
						required
						bind:value={second}
						label="Confirm Password"
						message="Retype your new password"
						bind:focus={focusPassword}
						on:keypress={onKeyPress}
						tabindex="2"
					/>
					{#if $auth.error}
						<div class="error" transition:fade>
							{$auth.error}
						</div>
					{/if}

					<div class="horizontal-stack" style="flex-direction: row-reverse;">
						<Button tabindex="3" color="primary" disabled={disableSignin} type="submit">
							Submit
						</Button>
					</div>
				</form>
			</ContentContainer>
		</main>
	</RootContainer>
</ThemeContext>

<style>
	main {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
	}

	.container-content {
		padding: var(--spacing, 8px);
		flex: 0 0 auto;
	}
</style>
