/* Adding some global resets */
*,
*:before,
*:after {
	box-sizing: border-box;
}

ul[class],
ol[class] {
	padding: 0;
	list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
	margin: 0;
}

html {
	color: var(--color);
	background: var(--bg-color);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-family);
	font-size: 12pt;
	font-weight: 400;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0;
	padding: var(--spacing, 8pt);
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

a,
a:hover {
	color: var(--primary);
	text-decoration: none;
}

a:visited {
	color: var(--primary-dark);
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

img,
picture {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
}

img:not[alt] {
	filter: blur(10px);
}

.stack {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.stack > * {
	margin-top: 0;
	margin-bottom: 0;
}

.stack > * + * {
	margin-top: var(--spacing, 1.5rem);
}

.horizontal-stack {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.horizontal-stack > * {
	margin-left: 0;
	margin-right: 0;
}

.horizontal-stack > * + * {
	margin-left: var(--spacing, 1.5rem);
}

.border-radius {
	border-radius: var(--border-radius, 4pt);
}

.border-top-radius {
	border-top-right-radius: var(--border-radius, 4pt);
	border-top-left-radius: var(--border-radius, 4pt);
}

.column {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}

.header {
	display: flex;
	flex: 0 0 auto;
	flex-direction: row;
	font-weight: 600;
	font-size: 1.2rem;
	border-bottom: 1px solid var(--divider);
	background: var(--divider, rgba(0, 0, 0, 0.1));
	padding: var(--spacing, 4pt);
}

.content {
	flex: 1 1 auto;
}

.raised {
	box-shadow: var(
		--box-shadow,
		0 3px 1px -2px rgba(0, 0, 0, 0.2),
		0 2px 2px 0 rgba(0, 0, 0, 0.14),
		0 1px 5px 0 rgba(0, 0, 0, 0.12)
	);
}

@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
