<script lang="ts">
	import Box from '$lib/modernized/Themes/Comic/Components/BoxComic.svelte';
	import Loader4 from '$components/Loader4.svelte';
	import type { iUser } from '$lib/types';

	export let admins: iUser[] = [];
	export let loaderVisible: boolean = false;
	export let error: string = undefined;
</script>

<Box heading={'Your Hosts'}>
	<div slot="content">
		{#if admins}
			{#each admins as admin (admin.ID)}
				<div class="admin-link">
					<a href="/journals/{admin.ID}">{admin.username}</a>
				</div>
			{/each}
		{/if}

		{#if error}
			<div>{error}</div>
		{/if}
		<Loader4 visible={loaderVisible} />
	</div>
</Box>

<style>
	.admin-link + .admin-link {
		margin-top: var(--spacing);
	}
</style>
