<script lang="ts">
	import type { iLyric } from '$lib/types';
	import Box from '$lib/modernized/Themes/Comic/Components/BoxComic.svelte';
	import Loader4 from '$components/Loader4.svelte';

	export let lyric: iLyric;
	export let loaderVisible: boolean = false;
	export let error: string = undefined;
</script>

<Box heading={'Lyric'}>
	<div slot="content">
		{#if lyric}{lyric.lyric}{/if}
		{#if error}{error}{/if}
		<Loader4 visible={loaderVisible} />
	</div>
</Box>
