<script lang="ts">
	import Box from '$lib/modernized/Themes/Comic/Components/BoxComic.svelte';
	import { getContext } from 'svelte';
	import { goto } from '$app/navigation';
	import auth from '$stores/authenticatedUserStore';
	import Button from '$lib/modernized/Themes/Comic/Components/ButtonComic.svelte';

	const { theme, toggle } = getContext('theme');

	export let onClickAddPost;
	export let handleSignInOutClick;
</script>

<Box heading={`Welcome ${$auth.user.username}!`}>
	<div slot="content" class="stack">
		<Button on:click={toggle}>{$theme.name}</Button>
		<Button on:click={handleSignInOutClick}>
			{#if $auth.user.ID > 0}Sign Out{:else}Sign In{/if}
		</Button>
		{#if $auth.user?.ID === 0}
			<Button
				on:click={() => {
					goto('/signup');
				}}
			>
				Join us
			</Button>
		{:else}
			<Button
				on:click={() => {
					goto(`/journals/${$auth.user.ID}`);
				}}
			>
				View your Journal
			</Button>
			<Button on:click={onClickAddPost}>Add a post</Button>
			<Button
				on:click={() => {
					goto(`/journals/${$auth.user.ID}/profile`);
				}}
			>
				Edit your profile
			</Button>
		{/if}
	</div>
</Box>
