BODY{
	background-color: #D3D3D3;
	font-family: verdana,arial,serif;
	font-size: 10pt;
	color: black;
}

td {
	font-size: 10pt;
}

a:link {
	color: #DC143C;
	background-color: transparent;
	text-decoration: none;	
}

a:hover {
	background-color: transparent;
	text-decoration: underline;
	color: #ff7e00;
}
a:visited {
	background-color: transparent;
	text-decoration: none;
	color: #FF8C00;	
}

a.menu {
	color: #FFFFFF;
	padding: 4px;
	padding-right: 4px;
	font-size: 11pt;
	text-align: center;
	height: 20px;
	border: solid black;
	border-width: 1px;
	background: #DC143C;

}

a.menu:link {
	text-decoration: none;
	color: #FFFFFF;
}

a.menu:hover {
	text-decoration: underline;
	background: #FF0000;
}

a.menu:visited {
	text-decoration: none;
	color: #FFFFFF;
}

img {
	border: 0px;
}


div.rightalign {
	text-align: right;
}

div.logo {
	background: url("magma_logo.gif");
	background-repeat: no-repeat;
	width: 300px;
	height: 83px;
	float: left;
}

div.mainmenu {
	color: #FFFFFF;
	padding: 20px;
	float: right;
	text-align: right;
	position: relative;
}

div.tagline {
	clear: both;
	padding: 4px;
	text-align: left;
}

div.entrytop {

	float: left;
	clear: both;
}

div.entry {

	background-repeat: no-repeat;
	width: 84px;
	height: 40px;
	float: left;
}

div.date {
	background: url("helpbox.gif");
	background-position: left 5px;
	background-repeat: no-repeat;
	text-indent: 25px;

	color: #000000;
	font-weight: bold;
	padding-top: 5px;
	margin-left: 90px;
}

div.lineend {
	height: 32px;
}

div.postend {
	clear: both;
}

div.post {	
	float: left;
	width: 100%;
	min-width: 20%;	
}

div.entrycontainer {
	width: 100%;
	clear: both;
	margin-bottom: 40px;
}

div.header {
	width: 100%;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

div.footer {
	width: 100%;
	clear: both;
	font-size: 8pt;
	text-align: center;
}

div.posts {	
	float: left;
	max-width: 80%;
}

* html body div.posts {width: 80%;}

div.boxes {
	float: right;
	width: 18%;
}

div.box {
	width: 100%;
	margin-bottom: 20px;
}

div.boxcontent {
	background: #ffffff;
	background-repeat: no-repeat;
	padding: 4px;
	border: solid black;
	border-width: 1px;
}


div.boxtop {
	font-family: BankGothic Md BT, verdana, sans-serif;
	color: #ffffff;
	font-size: 14pt;
	text-align: right;
	height: 25px;

	padding-right: 4px;

	border: solid black;
	border-width: 1px;

	background: url("flower.gif") #DC143C;
	background-position: 5px 3px;
	background-repeat: no-repeat;
}

div.lyrictop {
	height: 30px;
	width: 100%;
	background: url("lyrictop.png");
	background-repeat: no-repeat;
}

div.leftside {
	background: url("leftside.png");
	background-repeat: no-repeat;
	width: 4px;
	height: 200px;
	float: left;
}

div.rightside {
	background: url("leftside.png");
	background-repeat: no-repeat;
	width: 4px;
	height: 200px;
	float: right;
}


div.postcontent {
	color: #000000;
	background: #ffffff;
	background-repeat: no-repeat;
	margin-left: 84px;
	margin-top: 4px;
	border: solid black;
	border-width: 1px;
	padding: 4px;
}

div.commentcontainer {	
	clear: both;
	width: 100%;
	margin-bottom: 15px;
}

div.post_comment {		
	color: black;
	background: #FFFFFF;
	background-position: right bottom;
	background-repeat: no-repeat;
	border: solid black;
	border-width: 1px;
	padding: 4px;
	margin-left: 85px;
}

div.clearer {
	clear: both;
}

div.vent_options_title {
	font-size: 12pt;
	font-weight: bold;
	clear: both;

}

div.vent_system_error {
	color: red;
}


div.quote {
	margin-left: 20px;
	padding: 4px;
	background: url("quote_bg.png");
}


div.code {
	margin-left: 20px;
	padding: 4px;
	background: url("quote_bg.png");
	font-family: Courier New, Courier;
}
