BODY{
	background-color: white;
	font-family: verdana,arial,serif;
	font-size: 10pt;
	color: black;
}


A:link { color: blue; background: transparent;}    /* unvisited links */
A:visited { color: purple; background: transparent;}   /* visited links   */
A:hover   { color: green; background: transparent;} /* user hovers     */
A:active  { color: red; background: transparent;}   /* active links    */

img {
	border: 0px;
}


div.rightalign {
	text-align: right;
}

div.logo {
	background: url("themes/vent_classic/nippon/vent_logo.png");
	background-repeat: no-repeat;
	width: 340px;
	height: 70px;
	float: left;
}

div.mainmenu {
	padding: 30px;
	float: left;
	text-align: left;
	position: relative;
	clear: right;
	font-size: 12pt;
}

div.tagline {
	clear: both;
	margin-left: 25px;
	padding: 4px;
	text-align: left;
}

div.pageholder {
	width: 95%;
	clear: both;
}


div.topright {
	background: url("themes/vent_classic/nippon/topright.png");
	background-repeat: no-repeat;
	width: 15px;
	height: 25px;
	float: right;	
}

div.topleft {
	width: 25px;
	height: 25px;
	float: left;
}

div.entry {
	background: url("themes/vent_classic/nippon/entry.png");
	background-repeat: no-repeat;
	width: 130px;
	height: 25px;
	float: left;
}

div.left {
	width: 100%;
	clear: both;
}

div.right {
	background: url("themes/vent_classic/nippon/right.png");
	background-repeat: repeat-y;
	background-position: right;
	width: 100%;
}

div.entrybottom {
	background: url("themes/vent_classic/nippon/entrybottom.png");
	background-repeat: no-repeat;
	width: 71px;
	height: 13px;
	float: right;
}

div.bottomright {
	background: url("themes/vent_classic/nippon/bottomright.png");
	background-repeat: no-repeat;
	width: 15px;
	height: 13px;
	float: right;
}

div.bottomleft {
	background: url("themes/vent_classic/nippon/bottomleft.png");
	background-repeat: no-repeat;
	width: 10px;
	height: 13px;
	float: left;
}



div.contentcontainer {
	padding-left: 25px;
	padding-right: 33px;
	padding-top: 6px;
	padding-bottom: 6px;
} 

div.topholder {
	width: 100%;
	height: 25px;
	clear: both;
}

div.bottomholder {
	background: url("themes/vent_classic/nippon/bottom.png");
	background-repeat: repeat-x;
	width: 100%;
	height: 13px;
	clear: both;
}

div.rightside {
	float: right;
	clear: both;
}

div.date {
	font-weight: bold;
	font-style: normal;
	font-family: verdana,arial,serif;
	font-size: 12pt;
	color: black;
	margin-left: 6px;
	padding-left: 4px;
	padding-right: 4px;
	background: white;
	float: left;
}

div.posts {
	width: 75%;
	float: left;
	text-align: left;
}

div.modules {
	width: 24%;
	float: right;
	text-align: left;
}

div.vent_options_title {
	font-size: 12pt;
	font-weight: bold;
	clear: both;

}

div.vent_system_error {
	color: red;
}

div.footer {
	width: 100%;
	clear: both;
	font-size: 8pt;
	text-align: center;
}


div.quote {
	margin-left: 20px;
	padding: 4px;
	background: url("quote_bg.png");
}


div.code {
	margin-left: 20px;
	padding: 4px;
	background: url("quote_bg.png");
	font-family: Courier New, Courier;
}
