<script lang="ts">
	import type { iDetail } from '$lib/types';
	import { defaultDetail } from '$lib/types';
	import DetailsRow from './DetialsRow.svelte';
	export let details: iDetail[] = [];

	function addDetail() {
		details = [...details, { ...defaultDetail }];
	}

	function removeDetail(e) {
		details.splice(e.detail.idx, 1);
		details = details;
	}

	$: if (details == null || details.length === 0) {
		details = [{ ...defaultDetail }];
	}
</script>

<div class="dEditor-root">
	<div class="dEditor-header">Post Details</div>
	<div class="dEditor-content">
		<div class="dEditor-details stack">
			{#each details as detail, idx (detail)}
				<DetailsRow bind:detail {idx} on:remove={removeDetail} on:add={addDetail} />
			{/each}
			<!-- <div class="dEditor-controls">
				<Button icon={true} color="primary" on:click={addDetail}>
					<Icon>
						<svg
							focusable="false"
							viewBox="0 0 24 24"
							aria-hidden="true"
							tabindex="-1"
							data-ga-event-category="vent-icons"
							data-ga-event-action="click"
							data-ga-event-label="Add"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg
						>
					</Icon>
				</Button>
			</div> -->
		</div>
	</div>
</div>

<style>
	.dEditor-root {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
	}
	.dEditor-header {
		display: flex;
		flex: 0 0 auto;
		flex-direction: row;
		font-weight: 600;
		font-size: 1rem;
		border-bottom: 1px solid var(--divider);
		background: var(--divider, rgba(0, 0, 0, 0.1));
		padding: var(--spacing);
		border-top-right-radius: var(--border-radius);
		border-top-left-radius: var(--border-radius);
		align-items: baseline;
	}

	.dEditor-content {
		display: flex;
		flex-direction: row;
	}

	.dEditor-details {
		/* display: grid;
		grid-template-columns: 1fr; */
		/* gap: var(--spacing, 8px); */
		/* margin-right: var(--spacing, 8px); */
	}

	/* .dEditor-controls {
		grid-row: -1;
		grid-column: -1;
		place-self: center center;
	} */

	/* .dEditor-details {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		margin-right: var(--spacing, 8px);
	}

	.dEditor-controls {
		display: flex;
		flex-direction: column;
		flex: 0 0 auto;
		justify-content: end;
	} */
</style>
