<script lang="ts">
	import { createEventDispatcher } from 'svelte';
	import { slide } from 'svelte/transition';
	let dispatch = createEventDispatcher();
	import { Button, Icon } from '$components';
	import type { iDetail } from '$lib/types';
	import Textfield from '$components/Textfield.svelte';

	export let detail: iDetail = { ID: 0, name: '', value: '' };
	export let idx: number = 0;

	let focusName: boolean = true;
	let focusValue: boolean = false;

	function remove() {
		dispatch('remove', { detail: detail, idx: idx });
	}

	function focusDetail(event: any) {
		if ((event as KeyboardEvent).key !== 'Enter') return;
		event.preventDefault();
		if (detail.name.trim().length > 0) {
			focusValue = true;
			return;
		}
	}

	function addDetail(event: any) {
		if ((event as KeyboardEvent).key !== 'Enter') return;
		event.preventDefault();
		if (detail.name.trim().length === 0) {
			focusName = true;
			return;
		}

		if (detail.value.trim().length === 0) {
			focusValue = true;
			return;
		}

		dispatch('add');
		return;
	}
</script>

<div class="details-content" transition:slide>
	<div class="details-name">
		<Textfield
			label="Detail name"
			required
			bind:value={detail.name}
			bind:focus={focusName}
			on:keypress={focusDetail}
		/>
	</div>
	<div class="details-detail">
		<Textfield
			label="Detail content"
			required
			bind:value={detail.value}
			bind:focus={focusValue}
			on:keypress={addDetail}
		/>
	</div>
	<div class="details-button">
		<Button icon color="accent" on:click={remove}>
			<Icon>
				<svg
					focusable="false"
					viewBox="0 0 24 24"
					aria-hidden="true"
					tabindex="-1"
					data-ga-event-category="vent-icons"
					data-ga-event-action="click"
					data-ga-event-label="Clear"
					><path
						d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
					/></svg
				>
			</Icon>
		</Button>
	</div>
</div>

<style>
	.details-content {
		grid-column: 1 / 2;
		display: grid;
		grid-template-columns: 2fr 6fr 52px;
		gap: var(--spacing, 8px);
	}

	.details-button {
		justify-self: center;
		align-self: center;
	}
</style>
