<script lang="ts">
	import { createEventDispatcher } from 'svelte';
	const dispatch = createEventDispatcher();

	import { Button, Dialog, Textarea, Textfield } from '$components';
	import type { iPost, iDetail, iTag } from '$lib/types';
	import auth from '$stores/authenticatedUserStore';
	import Loader2 from '$components/Loader2.svelte';
	import DetailsEditor from './DetailsEditor.svelte';
	import TagEditor from './TagEditor.svelte';

	export let post: iPost;
	export let visible: boolean = false;
	export let width: number = 640;
	export let savePost: (post: iPost) => Promise<void | iPost>;

	let editingPost: iPost;
	let focusTitle: boolean = false;
	let focusContent: boolean = false;
	let titleError: string = null;
	let contentError: string = null;
	let loaderVisible: boolean = false;

	function setPost(newPost: iPost) {
		editingPost = { ...newPost };
	}

	function cleanupPost() {
		// Trim all text
		editingPost.content = editingPost.content.trim();
		editingPost.title = editingPost.title.trim();
		editingPost.details = editingPost.details.map((d) => {
			return {
				ID: d.ID,
				name: d.name.trim(),
				value: d.value.trim(),
				post_id: post.ID
			};
		});

		editingPost.tags = editingPost.tags.map((t) => {
			return {
				ID: t.ID,
				tag: t.tag.trim(),
				post_id: post.ID
			};
		});
		// Remove any detail that was left empty
		if (editingPost.details && editingPost.details.length > 0) {
			editingPost.details = editingPost.details.filter((detail: iDetail) => {
				return detail.name.trim().length > 0 && detail.value.trim().length > 0;
			});
		}
		// Remove any empty tags (shouldn't be possible, but just in case)
		if (editingPost.tags && editingPost.tags.length > 0) {
			editingPost.tags = editingPost.tags.filter((tag: iTag) => {
				return tag.tag.trim().length > 0;
			});
		}
	}

	function save() {
		focusTitle = false;
		focusContent = false;
		cleanupPost();

		if (editingPost.title.length === 0) {
			focusTitle = true;
			titleError = 'You must enter a title for your post';
			return;
		}
		if (editingPost.content.length === 0) {
			focusContent = true;
			contentError = 'You must enter content for your post';
			return;
		}

		if (editingPost.user.ID !== $auth.user.ID) {
			//Put message that you can't edit this post
		}
		if (editingPost.user.ID === 0) {
			editingPost.user = { ...$auth.user };
		}

		loaderVisible = true;

		savePost(editingPost)
			.then((result) => {
				if (result) {
					loaderVisible = false;
					visible = false;
				}
			})
			.catch((error) => {
				// Show some error
				loaderVisible = false;
			});

		dispatch('save', editingPost);
	}

	const cancel = () => {
		editingPost = { ...post };
		visible = false;
		loaderVisible = false;
		dispatch('close', {});
	};

	const close = () => {
		visible = false;
		loaderVisible = false;
		dispatch('close', {});
	};

	$: setPost(post);
</script>

<Dialog on:close={close} {visible} {width}>
	<svelte:fragment slot="title">
		{#if editingPost.id > 0}Edit Post{:else}Create New Post{/if}
	</svelte:fragment>

	<div class="pEditor-content">
		<Textfield
			label="Title"
			bind:value={editingPost.title}
			required
			error={titleError}
			focus={focusTitle}
		/>
		<Textarea
			label="Content"
			rows={8}
			bind:value={editingPost.content}
			required
			error={contentError}
			focus={focusContent}
		/>
		<DetailsEditor bind:details={editingPost.details} />
		<TagEditor bind:tags={editingPost.tags} />
	</div>

	<div class="pEditor-footer" slot="actions">
		<Button color="primary" on:click={save}>Save</Button>
		<Button color="accent" on:click={cancel}>Cancel</Button>
		<Loader2 visible={loaderVisible} />
	</div>
</Dialog>

<style>
	.pEditor-content {
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
	}

	.pEditor-footer {
		display: flex;
		flex-direction: row-reverse;
		flex: 0 0 auto;
		padding: var(--spacing);
	}
</style>
