<script lang="ts">
	import TagChip from '../TagChip.svelte';
	import { Textfield } from '$components';
	import type { iTag } from '$lib/types';
	import { defaultTag } from '$lib/types';

	export let tags: iTag[] = [];

	let newTag: iTag = { ...defaultTag };

	const keyPress = (e) => {
		if (e.key === 'Enter' && newTag.tag.length > 0) {
			newTag.tag = newTag.tag.toLowerCase();
			let exists = false;
			tags.forEach((tag) => {
				if (tag.tag === newTag.tag) {
					exists = true;
					newTag.tag = '';
					return;
				}
			});
			if (!exists) {
				tags = [...tags, newTag];
				newTag = { ...defaultTag };
			}
		}
	};

	const removeTag = (e) => {
		tags.splice(e.detail.idx, 1);
		tags = [...tags];
	};

	$: if (tags == null) {
		tags = [];
	}
</script>

<div class="tEditor-root">
	<div class="tEditor-header">Add some tags</div>
	<div class="tEditor-content">
		<Textfield
			label="Type a tag then press 'Enter'"
			bind:value={newTag.tag}
			on:keypress={keyPress}
		/>
	</div>
	<div class="tEditor-footer">
		{#each tags as tag, idx (tag)}
			<TagChip raised {tag} {idx} color="primary" editing on:remove={removeTag} />
		{/each}
	</div>
</div>

<style>
	.tEditor-root {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
	}

	.tEditor-header {
		display: flex;
		flex: 0 0 auto;
		flex-direction: row;
		font-weight: 600;
		font-size: 1rem;
		border-bottom: 1px solid var(--divider);
		background: var(--divider, rgba(0, 0, 0, 0.1));
		padding: var(--spacing);
		border-top-right-radius: var(--border-radius);
		border-top-left-radius: var(--border-radius);
		align-items: baseline;
	}
	.tEditor-content {
		display: flex;
		flex-direction: row;
	}

	.tEditor-footer {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: var(--spacing, 8px);
	}
</style>
