<script lang="ts">
	import { fade } from 'svelte/transition';
	export let heading: string;
	let randBorder: number = Math.floor(Math.random() * 3);
</script>

<div
	transition:fade
	class="box-root box"
	class:box1={randBorder === 0}
	class:box2={randBorder === 1}
	class:box3={randBorder === 2}
>
	{#if heading && heading.length > 0}
		<div class="comic-header box-header heading-stroke heading-shadow">
			{heading}
		</div>
	{/if}

	<div class="box-content">
		<slot name="content" />
	</div>

	<!-- The below is only here to remove a warning. It should be removed for future updates of Svelte -->
	{#if false}
		<slot />
	{/if}
</div>

<style>
	:global(.box) {
		background: #fff;
		border: solid black;
		border-color: black;
	}

	:global(.box1) {
		border-width: 3px 4px 3px 5px;
		border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
		transform: rotate(2deg);
	}
	:global(.box2) {
		border-width: 3px 3px 5px 5px;
		border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
		transform: rotate(-2deg);
	}

	:global(.box3) {
		border-width: 5px 3px 3px 5px;
		border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
		transform: rotate(2deg);
	}

	.box-root {
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
	}

	.box-header {
		font-size: 2rem;
		width: 100%;
		margin: 0px;
		border-bottom: 2px solid black;
		padding: 3px 6px 3px 6px;
	}
	.heading-shadow {
		text-shadow: 3px 3px #2dc7ff;
	}

	.box-content {
		padding: var(--spacing, 8px);
		font-family: 'Comic Sans', 'Comic Sans MS', cursive;
	}
</style>
