<script lang="ts">
	import { createEventDispatcher } from 'svelte';
	const dispatch = createEventDispatcher();
	import { current_component } from 'svelte/internal';
	import { getEventsAction } from '$components/lib/events';

	const events = getEventsAction(current_component);

	export { disabled, style, fullWidth };

	let disabled: boolean = false;
	let fullWidth: boolean = false;
	let style: string = '';
	let elm;
	let attrs = {};

	$: {
		const { disabled, style, fullWidth, ...others } = $$props;

		attrs = { ...others };
	}
</script>

<button
	{disabled}
	{style}
	class="btn btn-stripe"
	class:fullWidth
	{...attrs}
	use:events
	bind:this={elm}
>
	<slot />
</button>

<style>
	@-webkit-keyframes stripe-slide {
		0% {
			background-position: 0% 0;
		}
		100% {
			background-position: 100% 0;
		}
	}
	@keyframes stripe-slide {
		0% {
			background-position: 0% 0;
		}
		100% {
			background-position: 100% 0;
		}
	}

	.btn {
		font-family: 'Bangers', cursive;
		overflow: visible;
		padding: 0;
		border: 0;
		background: transparent;
		font: inherit;
		line-height: normal;
		cursor: pointer;
		-moz-user-select: text;
		display: inline-block;
		text-decoration: none;
		text-transform: uppercase;
		padding: 16px 36px 22px;
		background-color: #fff;
		color: #666;
		border: 2px solid #666;
		border-radius: var(--border-radius, 6px);
		-webkit-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}

	.btn:active {
		background-color: #999;
	}

	.btn:disabled {
		pointer-events: none;
		color: #ccc;
	}
	.btn:-moz-focus-inner {
		padding: 0;
		border: 0;
	}
	.btn-stripe {
		overflow: hidden;
		position: relative;
	}
	.btn-stripe:after {
		content: '';
		display: block;
		height: 7px;
		width: 100%;
		background-image: repeating-linear-gradient(
			45deg,
			#666,
			#666 1px,
			transparent 2px,
			transparent 5px
		);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		border-top: 1px solid #666;
		position: absolute;
		left: 0;
		bottom: 0;
		background-size: 7px 7px;
	}
	.btn-stripe:hover:not([disabled]):not(.disabled) {
		background-color: #666;
		color: #fff;
		border-color: #000;
	}
	.btn-stripe:hover:after {
		background-image: repeating-linear-gradient(
			45deg,
			#fff,
			#fff 1px,
			transparent 2px,
			transparent 5px
		);
		border-top: 1px solid #000;
		-webkit-animation: stripe-slide 12s infinite linear forwards;
		animation: stripe-slide 12s infinite linear forwards;
	}
	.fullWidth {
		width: 100%;
	}
</style>
