<script lang="ts">
	import type { iTag } from '$lib/types';

	export let tag: iTag;
</script>

<div class="tag">
	{tag.tag}
	<slot />
</div>

<style>
	.tag {
		font-family: 'Bangers', cursive;
		transform: rotate(2deg);
		padding: 0 5px;
		background: #ddd;
		border: 1px solid #222;
		box-shadow: 3px 3px 0 #222;
	}

	.tag + :global(.tag) {
		margin-left: var(--spacing, 8px);
	}
</style>
