<!-- <script lang="ts" context="module">
	export async function load({ page }) {
		let user_id: number = page.params.slug;
		// return {
		//     redirect: `/journals/${user_id}`,
		//     status: 301
		// };

		return {
			props: {
				user_id: user_id
			}
		};
	}
</script> -->
<script lang="ts">
	import { goto } from '$app/navigation';
	import { browser } from '$app/env';
	// import { onMount } from 'svelte';
	import ProfileWrapper from '$lib/modernized/Themes/ProfileWrapper.svelte';
	import theme from '$stores/themeStore';
	// export let user_id: number;
	import auth from '$stores/authenticatedUserStore';

	$: if (browser && $auth.user.ID === 0) {
		goto('/');
	}

	// onMount(() => {
	//     console.log(user_id, $auth.user.ID)
	// 	if (browser && (user_id == 0 || $auth.user.ID == 0 || user_id != $auth.user.ID)) {
	// 		goto('/', { replaceState: true });
	// 	}
	// });
</script>

<ProfileWrapper profileComponent={$theme.profile} />
