<script lang="ts">
	import { fade } from 'svelte/transition';
	import moment from 'moment';

	export let activeUsers = [];
	export let sortByUsername;
	export let sortByLastPost;
	export let sortByPostTotal;
	export let asc;
</script>

<table class="border-radius" transition:fade>
	<thead class="border-top-radius">
		<tr>
			<th rel="col" on:click="{sortByUsername}">
				<div class="heading">
					<span>Username</span>
					<span class="sort-arrow">
						{#if asc}
							<svg
								class="icon"
								focusable="false"
								viewBox="0 0 24 24"
								aria-hidden="true"
								tabindex="-1"
								data-ga-event-action="click"
								data-ga-event-label="KeyboardArrowUp"
							>
								<path
									d="M7.41 15.41L12 10.83l4.59 4.58L18
									14l-6-6-6 6z"></path>
							</svg>
						{:else}
							<svg
								class="icon"
								focusable="false"
								viewBox="0 0 24 24"
								aria-hidden="true"
								tabindex="-1"
								data-ga-event-action="click"
								data-ga-event-label="KeyboardArrowDown"
							>
								<path
									d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6
									6-6-6 1.41-1.41z"></path>
							</svg>
						{/if}
					</span>
				</div>
			</th>
			<th rel="col" on:click="{sortByLastPost}">
				<div class="heading">
					<span>Last Post</span>
					<span class="sort-arrow">
						{#if asc}
							<svg
								class="icon"
								focusable="false"
								viewBox="0 0 24 24"
								aria-hidden="true"
								tabindex="-1"
								data-ga-event-action="click"
								data-ga-event-label="KeyboardArrowUp"
							>
								<path
									d="M7.41 15.41L12 10.83l4.59 4.58L18
									14l-6-6-6 6z"></path>
							</svg>
						{:else}
							<svg
								class="icon"
								focusable="false"
								viewBox="0 0 24 24"
								aria-hidden="true"
								tabindex="-1"
								data-ga-event-action="click"
								data-ga-event-label="KeyboardArrowDown"
							>
								<path
									d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6
									6-6-6 1.41-1.41z"></path>
							</svg>
						{/if}
					</span>
				</div>
			</th>
			<th rel="col" on:click="{sortByPostTotal}">
				<div class="heading">
					<span>Post Total</span>
					<span class="sort-arrow">
						{#if asc}
							<svg
								class="icon"
								focusable="false"
								viewBox="0 0 24 24"
								aria-hidden="true"
								tabindex="-1"
								data-ga-event-action="click"
								data-ga-event-label="KeyboardArrowUp"
							>
								<path
									d="M7.41 15.41L12 10.83l4.59 4.58L18
									14l-6-6-6 6z"></path>
							</svg>
						{:else}
							<svg
								class="icon"
								focusable="false"
								viewBox="0 0 24 24"
								aria-hidden="true"
								tabindex="-1"
								data-ga-event-action="click"
								data-ga-event-label="KeyboardArrowDown"
							>
								<path
									d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6
									6-6-6 1.41-1.41z"></path>
							</svg>
						{/if}
					</span>
				</div>
			</th>
			<th rel="col">Most Active Post</th>
			<th rel="col">Comments</th>
		</tr>
	</thead>
	<tbody>
		{#each activeUsers as user, idx (user.id)}
			<tr>
				<td>
					<p>
						<a href="#/journals/{user.id}">{user.username}</a>
					</p>
				</td>
				<td>
					<p>
						{moment(user.lastPost, moment.ISO_8601).format(
							'MM-DD-YYYY h:mm a'
						)}
					</p>
				</td>
				<td class="right">{user.postTotal}</td>
				<td></td>
				<td></td>
			</tr>
		{/each}
	</tbody>
	<tfoot></tfoot>
</table>

<style>
	.right {
		text-align: right;
	}
	.center {
		text-align: center;
	}
	table {
		border-collapse: collapse;
		margin-right: var(--spacing, 4pt);
	}
	thead {
		border-bottom: 1px solid var(--divider);
		background: var(--divider, rgba(0, 0, 0, 0.1));
		border-bottom: 1px solid var(--divider);
	}
	th {
		font-weight: 600;
		font-size: 1.2rem;
		padding: var(--spacing, 4pt) 0;
		cursor: pointer;
	}
	td {
		padding-top: var(--spacing, 4pt);
	}
	tbody > tr:hover {
		background-color: var(--bg-panel);
	}
	.heading {
		display: flex;
		flex-direction: row;
		margin: 0 auto;
		justify-content: center;
		align-items: center;
	}
	.sort-arrow {
		height: 24px;
		margin-left: calc(var(--spacing, 4pt) * 0.5);
	}
	.icon {
		width: 24px;
		height: 24px;
	}
</style>
