<script lang="ts">
	import type { iComment } from '../../../types';

	import CommentEditorWrapper from '../CommentEditorWrapper.svelte';
	import CommentEditor from '../../CommentEditor.svelte';
	import Button from '$components/Button.svelte';

	import auth from '$stores/authenticatedUserStore';
	export let comment: iComment;
	export let updateComment: (comment: iComment) => void;
	export let cancel: () => void;
	export let deleteComment: (comment: iComment) => void;
	export let editing: boolean = false;
	export let loaderVisible: boolean = false;
</script>

<div class="root comment-root raised">
	{#if editing}
		<CommentEditorWrapper
			editorComponent={CommentEditor}
			{comment}
			{updateComment}
			{cancel}
			focus={editing}
			{loaderVisible}
		/>
	{:else}
		<div class="header border-top-radius comment-header">
			<span class="comment-username">
				<a href="/journals/{comment.user_id}">{comment.user.username}</a>
			</span>
			{#if comment.visibleEmail}
				<span class="comment-visEmail">- ({comment.user.visibleemail})</span>
			{/if}
		</div>
		<div class="content comment-content">
			{@html comment.content}
		</div>
		<div class="comment-footer">
			{#if $auth.user.ID === comment.user_id}
				<Button
					on:click={() => {
						editing = true;
					}}>Edit comment</Button
				>
				<Button
					color="accent"
					on:click={() => {
						deleteComment(comment);
					}}>Delete comment</Button
				>
			{/if}
		</div>
	{/if}
</div>

<style>
	div:last-child {
		margin-bottom: var(--spacing, 8px);
	}

	.comment-root {
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
		color: var(--color);
		background: var(--bg-color);
		width: 100%;
		border-radius: var(--border-radius);
		border: 1px solid var(--divider);
		background-color: var(--bg-panel, transparent);
	}

	.comment-header {
		padding: var(--spacing);
	}

	.comment-username {
		display: inline;
		font-weight: 500;
		font-size: 1.1rem;
	}

	.comment-visEmail {
		display: inline;
	}

	.comment-content {
		/* padding-left: calc(var(--spacing, 8px) * 2);
		padding-top: var(--spacing, 8px);
		padding-right: var(--spacing, 8px);
		padding-bottom: var(--spacing, 8px); */
		padding: var(--spacing, 8px) var(--spacing, 8px) var(--spacing, 8px)
			calc(var(--spacing, 8px) * 2);
	}
	.comment-footer {
		display: flex;
		flex-direction: row-reverse;
		padding: var(--spacing);
	}
</style>
