<header class="default-header">
	<p aria-label="Ventilation">
		<span data-text="V">V</span>
		<span data-text="E">E</span>
		<span data-text="N">N</span>
		<span data-text="T">T</span>
		<span data-text="I">I</span>
		<span data-text="L">L</span>
		<span data-text="A">A</span>
		<span data-text="T">T</span>
		<span data-text="I">I</span>
		<span data-text="O">O</span>
		<span data-text="N">N</span>
	</p>
</header>

<style>
	header {
		display: flex;
		flex: 1 1 auto;
		flex-direction: row;
	}
	p {
		color: #fff;
		font-family: Avenir Next, Helvetica Neue, Helvetica, Tahoma, sans-serif;
		font-size: 1em;
		font-weight: 700;
		cursor: pointer;
		display: flex;
		flex: 0 0 auto;
	}
	p span {
		display: inline-block;
		position: relative;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
		-webkit-perspective: 500;
		perspective: 500;
		-webkit-font-smoothing: antialiased;
	}
	p span::before,
	p span::after {
		display: none;
		position: absolute;
		top: 0;
		left: -1px;
		-webkit-transform-origin: left top;
		transform-origin: left top;
		-webkit-transition: all ease-out 0.3s;
		transition: all ease-out 0.3s;
		content: attr(data-text);
	}
	p span::before {
		z-index: 1;
		color: rgba(0, 0, 0, 0.2);
		-webkit-transform: scale(1.1, 1) skew(0deg, 20deg);
		transform: scale(1.1, 1) skew(0deg, 20deg);
	}
	p span::after {
		z-index: 2;
		color: var(--primary);
		text-shadow: -1px 0 1px var(--primary), 1px 0 1px rgba(0, 0, 0, 0.8);
		-webkit-transform: rotateY(-40deg);
		transform: rotateY(-40deg);
	}
	p span:hover::before {
		-webkit-transform: scale(1.1, 1) skew(0deg, 5deg);
		transform: scale(1.1, 1) skew(0deg, 5deg);
	}
	p span:hover::after {
		-webkit-transform: rotateY(-10deg);
		transform: rotateY(-10deg);
	}
	p span + span {
		margin-left: 0.3em;
	}
	@media (min-width: 20em) {
		p {
			font-size: 2em;
		}
		p span::before,
		p span::after {
			display: block;
		}
	}
	@media (min-width: 30em) {
		p {
			font-size: 3em;
		}
	}
	@media (min-width: 40em) {
		p {
			font-size: 4em;
		}
	}
	@media (min-width: 60em) {
		p {
			font-size: 5em;
		}
	}
</style>
