<script lang="ts">
	// import InfiniteLoading from 'svelte-infinite-loading';
	import { fade } from 'svelte/transition';
	import InfiniteLoading from '$components/infiniteloading/InfiniteLoading.svelte';
	import Loader2 from '$components/Loader2.svelte';
	import PostWrapper from '../PostWrapper.svelte';
	import PostDefault from './PostDefault.svelte';

	import type { iPost } from '$lib/types';
	import { browser } from '$app/env';
	import { page } from '$app/stores';
	import type { Post } from '../Comic';

	export let journalPosts: iPost[];

	export let infiniteHandler;

	export let infiniteScroll: boolean = false;
	export let loaderVisible: boolean = false;
	export let postsLoaded: boolean = false;
	export let removePost: (post: iPost) => void;
	export let insertPost: (post: iPost) => void;
</script>

<div
	class="journal-root stack"
	in:fade={{ delay: 300, duration: 250 }}
	out:fade={{ delay: 0, duration: 250 }}
>
	{#if journalPosts && journalPosts.length}
		{#each journalPosts as post (post.ID)}
			<PostWrapper
				postComponent={PostDefault}
				{post}
				{removePost}
				{insertPost}
				on:introend={() => {
					postsLoaded = true;
				}}
			/>
		{/each}

		{#if browser && infiniteScroll}
			<InfiniteLoading on:infinite={infiniteHandler} identifier={$page.path} />
		{/if}
	{:else}
		<div>
			No journal entries found for this user.
			<a href="/">Return home</a>
		</div>
	{/if}
	<Loader2 visible={loaderVisible} window={true} />
</div>

<style>
	.journal-root {
		flex: 1 1 auto;
		margin: 0;
		padding: 0 var(--spacing);
	}
</style>
