<script lang="ts">
	import { createEventDispatcher } from 'svelte';
	let dispatch = createEventDispatcher();
	import { defaultComment, iComment, iPost } from '$lib/types';
	import { fade, slide } from 'svelte/transition';
	// import { authenticatedUser } from '$stores/authenticatedUserStore';
	import auth from '$stores/authenticatedUserStore';
	import { Button } from '$components';
	// import Comment from '../../Comment.svelte';
	import CommentWrapper from '../CommentWrapper.svelte';
	import CommentDefault from './CommentDefault.svelte';
	import CommentEditor from '../../CommentEditor.svelte';
	import PostDetails from '../../PostDetails.svelte';
	import TagChip from '$lib/modernized/TagChip.svelte';
	import Loader4 from '$components/Loader4.svelte';

	import moment from 'moment';
	import CommentEditorWrapper from '../CommentEditorWrapper.svelte';
	import ActiveUsersComic from '../Comic/ActiveUsersComic.svelte';

	export let post: iPost;
	export let loaderVisible: boolean = false;

	export let comments: iComment[];
	export let showComments: boolean = false;
	export let commentLoaderVisible: boolean = false;

	export let deletePost: () => void;
	export let editPost: () => void;
	export let addComment: (comment: iComment) => void;
	export let removeComment: (comment: iComment) => void;
	export let updateCommentList: (comment: iComment) => void;
</script>

<article
	class="column border-radius post-root raised"
	id="{post.user_id}-{post.ID}"
	in:fade={{ duration: 250 }}
	on:introend={() => {
		dispatch('introend', {});
	}}
>
	<div class="header border-top-radius post-header">
		<span class="post-user">
			<a href="/journals/{post.user_id}" name="link-{post.user_id}">
				{post.user.username}
			</a>
		</span>
		<!-- <span class="post-date">
			[{moment(post.createDate, moment.ISO_8601).format('MM-DD-YYYY h:mm a')}]
		</span> -->
		<span class="post-title">{post.title}</span>
	</div>
	<div class="content post-content">
		{@html post.content}
		{#if post.details && post.details.length > 0}
			<div class="post-details-root">
				{#each post.details as detail (detail.ID)}
					<PostDetails {detail} />
				{/each}
			</div>
		{/if}
		{#if post.tags && post.tags.length > 0}
			<div class="post-tags-root">
				<div class="post-tags-title">Tags:</div>
				<div class="post-tags">
					{#each post.tags as tag, idx (tag)}
						<TagChip color="primary" raised {idx} {tag} />
					{/each}
				</div>
			</div>
		{/if}
	</div>
	<div class="post-footer">
		<Button
			on:click={() => {
				showComments = !showComments;
			}}
			color="primary"
		>
			{#if showComments}
				Hide comments
			{:else}Comments ({post.comment_count}){/if}
		</Button>
		{#if $auth.user.ID === post.user_id}
			<Button on:click={editPost}>Edit Post</Button>
			<Button color="accent" on:click={deletePost}>Delete Post</Button>
		{/if}
		<Loader4 visible={loaderVisible} />

		<div class="post-date">
			Posted {moment(post.created_at, moment.ISO_8601).format('MM-DD-YYYY h:mm a')}
		</div>
	</div>

	{#if showComments}
		<div class="comments-root stack">
			{#if comments}
				{#each comments as comment (comment.ID)}
					<div transition:slide>
						<CommentWrapper
							commentComponent={CommentDefault}
							{comment}
							{removeComment}
							{updateCommentList}
						/>
					</div>
				{/each}
			{/if}
			{#if $auth.user.ID !== 0}
				<div class="cEditor" transition:slide>
					<CommentEditorWrapper
						editorComponent={CommentEditor}
						comment={defaultComment}
						updateComment={addComment}
						loaderVisible={commentLoaderVisible}
					/>
				</div>
			{/if}
		</div>
	{/if}
</article>

<style>
	.post-root {
		border: 1px solid var(--divider);
		background-color: var(--bg-panel, transparent);
	}

	.post-header {
		align-items: center;
	}

	.post-user {
		font-weight: 500;
		margin-right: calc(var(--spacing, 8pt) * 0.5);
	}

	.post-user a {
		color: var(--primary);
	}

	.post-date {
		font-size: 0.8rem;
		letter-spacing: 0.05rem;
		flex: 1 1 auto;
		align-self: center;
		color: rgba(0, 0, 0, 0.3755);
	}

	.post-title {
		font-weight: 400;
		font-size: 1.1rem;
	}

	.post-content {
		padding: calc(var(--spacing, 8pt) * 0.5) calc(var(--spacing, 8pt) * 2);
	}

	.post-footer {
		display: flex;
		flex-direction: row-reverse;
		padding: var(--spacing);
	}

	.comments-root {
		margin-left: calc(var(--spacing, 8pt) * 8);
		margin-right: var(--spacing, 8px);
	}

	.comments-root > :global(*:last-child) {
		padding-bottom: var(--spacing, 8px);
	}

	.post-details-root {
		margin-top: calc(var(--spacing, 8pt) * 2);
		display: grid;
		grid-row-gap: var(--spacing, 8pt);
		grid-template-columns: 30ch auto;
		font-size: 0.85rem;
	}

	.post-tags-root {
		margin-top: calc(var(--spacing, 8pt) * 2);
		display: grid;
		grid-row-gap: var(--spacing, 8pt);
		grid-template-columns: 30ch auto;
		font-size: 0.85rem;
		align-items: start;
	}

	.post-tags-title {
		font-weight: bold;
		display: grid;
		align-content: center;
		justify-content: end;
		margin-right: var(--spacing, 8pt);
	}

	.post-tags {
		display: flex;
		flex-direction: row;
		gap: var(--spacing, 8px);
	}
</style>
