<script lang="ts">
	import Textfield from '$components/Textfield.svelte';
	import Button from '$components/Button.svelte';
	import Loader4 from '$components/Loader4.svelte';
	import type { iUser } from '$lib/types';
	import auth from '$stores/authenticatedUserStore';

	export let loaderVisible: boolean = false;
	export let activeUser: iUser;
	export let updateProfile: (user: iUser) => void;
	export let deleteUser: () => void;
	export let resetUser: () => void;
	export let updatePassword: (user: iUser) => void;
</script>

<div class="stack profile-root">
	<h3 class="heading">{activeUser.username}'s Profile</h3>
	<Textfield
		label="E-mail address"
		bind:value={activeUser.email}
		message="Please keep this up to date. This address will be used to recover a lost password."
		changed={activeUser.email !== $auth.user.email}
	/>
	<Textfield
		bind:value={activeUser.visibleemail}
		label="Visible email"
		message="This is the E-mail address that is displayed next to your name
		on the site. Change it to whatever you like."
		changed={activeUser.visibleemail !== $auth.user.visibleemail}
	/>
	<Textfield
		bind:value={activeUser.firstname}
		label="First name"
		changed={activeUser.firstname !== $auth.user.firstname}
	/>
	<Textfield
		bind:value={activeUser.lastname}
		label="Last name"
		changed={activeUser.lastname !== $auth.user.lastname}
	/>
	<div class="actions">
		<Button
			on:click={() => {
				updateProfile(activeUser);
			}}
		>
			Update Profile
		</Button>
		<Button
			on:click={() => {
				resetUser();
			}}
			color="accent"
		>
			Reset changes
		</Button>
	</div>

	<h3 class="heading">Change Password</h3>
	<Textfield
		label="Current Password"
		type="password"
		bind:value={activeUser.original}
		message="Please type in your current password"
	/>
	<Textfield
		label="New Password"
		type="password"
		bind:value={activeUser.first}
		message="Please type in a new password"
	/>
	<Textfield
		label="Confirm Password"
		type="password"
		bind:value={activeUser.second}
		message="Please retype your new password password"
	/>
	<div class="actions">
		<Button
			on:click={() => {
				updatePassword(activeUser);
			}}
		>
			Change Password
		</Button>
		<Button
			on:click={() => {
				resetUser();
			}}
			color="accent"
		>
			Clear
		</Button>
	</div>
	<h3 class="heading">Delete your account</h3>

	<div class="actions">
		<Button
			on:click={() => {
				deleteUser();
			}}
			color="accent"
		>
			Delete Account
		</Button>
	</div>
</div>
<Loader4 visible={loaderVisible} />

<style>
	.profile-root {
		margin-right: var(--spacing, 4pt);
	}
	.actions {
		display: flex;
		flex-direction: row-reverse;
	}
	.actions > :global(* + *) {
		margin-right: var(--spacing, 4pt);
	}

	.heading {
		font-size: 1.2rem;
		font-weight: 600;
	}
</style>
