<script lang="ts">
	import type { iComment } from '../../../types';

	// import CommentEditor from '../../CommentEditor.svelte';
	import Button from './Components/ButtonComic.svelte';

	import CommentEditorWrapper from '../CommentEditorWrapper.svelte';
	import CommentEditor from './CommentEditorComic.svelte';

	import auth from '$stores/authenticatedUserStore';
	export let comment: iComment;
	export let updateComment: (comment: iComment) => void;
	export let cancel: () => void;
	export let deleteComment: (comment: iComment) => void;
	export let editing: boolean = false;
	export let loaderVisible: boolean = false;
</script>

<div
	class="panel"
	class:colora={comment.color === 0}
	class:colorb={comment.color === 1}
	class:colorc={comment.color === 2}
	class:colord={comment.color === 3}
	class:colore={comment.color === 4}
	class:colorf={comment.color === 5}
	class:colorg={comment.color === 6}
	class:colorh={comment.color === 7}
>
	{#if editing}
		<CommentEditorWrapper
			editorComponent={CommentEditor}
			{comment}
			{updateComment}
			{cancel}
			focus={editing}
			{loaderVisible}
		/>
	{:else}
		<div class="text top-left">
			<a href="/journals/{comment.user_id}">{comment.user.username}</a>
		</div>

		<div class="content comment-content speech">
			{@html comment.content}
		</div>

		{#if comment.user.visibleemail}
			<div class="text bottom-right">
				<span class="comment-visEmail">{comment.user.visibleemail}</span>
			</div>
		{/if}
		<div class="comment-footer">
			{#if $auth.user.ID === comment.user_id}
				<Button
					on:click={() => {
						editing = true;
					}}>Edit comment</Button
				>
				<Button
					color="accent"
					on:click={() => {
						deleteComment(comment);
					}}>Delete comment</Button
				>
			{/if}
		</div>
	{/if}
</div>

<style>
	.comment-content {
		margin: 40px;
	}
	.comment-footer {
		display: flex;
		flex-direction: row-reverse;
		padding: var(--spacing);
	}
	.comment-footer > :global(* + *) {
		margin-right: var(--spacing, 8px);
	}
</style>
