<script lang="ts">
	import Textarea from '$components/Textarea.svelte';
	import Button from './Components/ButtonComic.svelte';
	import Loader4 from '$components/Loader4.svelte';
	import type { iComment } from '$lib/types';

	export let focus: boolean = false;
	export let loaderVisible: boolean = false;
	export let error: string = '';
	export let editingComment: iComment;
	export let cancel: () => void;
	export let updateComment: (comment: iComment) => void;
</script>

<div class="cEditor-root">
	<div class="cEditor-header comic-header heading-stroke heading-shadow">
		{#if editingComment.ID == 0}Add Comment{:else}Edit Comment{/if}
	</div>
	<div class="cEditor-content">
		<!-- prettier-ignore -->
		<Textarea
			bind:value="{editingComment.content}"
			rows="{4}"
			message="Comment message"
			label="Comment"
			outlined="{true}"
			{focus}
			{error}
            disabled="{loaderVisible}" ></Textarea>

		<div class="cEditor-footer">
			<Button
				on:click={() => {
					updateComment(editingComment);
				}}>Save</Button
			>
			<Button on:click={cancel}>Cancel</Button>
			<Loader4 visible={loaderVisible} />
		</div>
	</div>
</div>

<style>
	.cEditor-header {
		font-family: 'Bangers';
		font-size: 2rem;
	}
	.cEditor-content {
		display: flex;
		flex-direction: column;
		padding: var(--spacing);
	}

	.cEditor-footer {
		display: flex;
		flex-direction: row-reverse;
	}
	.cEditor-footer > :global(* + *) {
		margin-right: var(--spacing, 8px);
	}
</style>
