<svelte:head>
	<link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet" />
</svelte:head>

<header class="comic-header">
	<div class="app-bar">
		<div class="content">
			<h1
				class="heading heading-stroke heading-halftone
				heading-halftone-color"
			>
				Ventilation
			</h1>
		</div>
	</div>
</header>

<style>
	:global(.comic-header) {
		font-family: 'Bangers', cursive;
		display: flex;
	}

	:global(.heading-stroke) {
		-webkit-text-stroke-width: 2px;
		-moz-text-stroke-width: 2px;
		-webkit-text-stroke-color: #0d1b1e;
		-moz-text-stroke-color: #0d1b1e;
		color: transparent;
	}

	:global(.heading-halftone) {
		position: relative;
	}

	:global(.heading-halftone:after) {
		background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAHElEQVQYV2NUVFT8f//+fUYGBgYGMAEDcA5IBQCKJQVmn76DhAAAAABJRU5ErkJggg==')
			repeat;
		-webkit-text-stroke-width: 0;
		-moz-text-stroke-width: 0;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		-moz-text-fill-color: transparent;
		/* left: calc(50% + 6px);
    top: calc(50% + 6px); */
		left: 6px;
		top: 6px;
		z-index: -1;
		position: absolute;
		/* transform: translate(-50%, -50%); */
	}

	:global(.heading-halftone-color:after) {
		background-color: #2dc7ff;
	}

	:global(.heading-shadow) {
		text-shadow: 6px 6px #2dc7ff;
	}

	.app-bar {
		display: flex;
		flex-direction: row;
		flex: 1 1 auto;
		padding: var(--spacing, 8px);
	}

	.heading {
		font-size: 6rem;
		letter-spacing: 6px;
		margin: 0;
		cursor: pointer;
	}

	.heading-halftone:after {
		content: 'Ventilation';
		font-size: 6rem;
		letter-spacing: 6px;
	}
</style>
