<script lang="ts">
	// import InfiniteLoading from 'svelte-infinite-loading';
	import InfiniteLoading from '$components/infiniteloading/InfiniteLoading.svelte';
	import Loader2 from '$components/Loader2.svelte';
	import PostWrapper from '../PostWrapper.svelte';
	import Post from './PostComic.svelte';

	import type { iPost } from '$lib/types';
	import { browser } from '$app/env';
	import { page } from '$app/stores';

	export let journalPosts: iPost[];

	export let infiniteHandler;

	export let infiniteScroll: boolean = false;
	export let loaderVisible: boolean = false;
	export let postsLoaded: boolean = false;
	export let removePost: (post: iPost) => void;
	export let insertPost: (post: iPost) => void;

	let colorMappings = {};
	let color = 0;

	const createColorMappings = (posts) => {
		const incrementColor = () => {
			color = (color + 1) % 8;
		};

		posts.forEach((post) => {
			if (colorMappings['jid' + post.user_id] === undefined) {
				colorMappings['jid' + post.user_id] = color;
				post.color = colorMappings['jid' + post.user_id];
				incrementColor();
			}
			post.color = colorMappings['jid' + post.user_id];
		});
		colorMappings = { ...colorMappings };
	};

	$: createColorMappings(journalPosts);
</script>

<div class="journal-root stack">
	{#if journalPosts}
		{#each journalPosts as post (post.ID)}
			<PostWrapper
				postComponent={Post}
				{post}
				{removePost}
				{insertPost}
				on:introend={() => {
					postsLoaded = true;
				}}
			/>
		{/each}

		{#if browser && infiniteScroll}
			<InfiniteLoading on:infinite={infiniteHandler} identifier={$page.path} />
		{/if}
	{:else}
		<div>
			No journal entries found for this user.
			<a href="/">Return home</a>
		</div>
	{/if}
	<Loader2 visible={loaderVisible} window={true} />
</div>

<style>
	.journal-root {
		flex: 1 1 auto;
		margin: 0;
		padding: 0 var(--spacing);
		margin-left: calc(var(--spacing) * 2);
		/* position: relative; */
	}
</style>
