<script lang="ts">
	import { createEventDispatcher } from 'svelte';
	let dispatch = createEventDispatcher();
	import { defaultComment, iComment, iPost } from '$lib/types';
	import { fade, slide } from 'svelte/transition';
	// import { authenticatedUser } from '$stores/authenticatedUserStore';
	import auth from '$stores/authenticatedUserStore';

	import Button from './Components/ButtonComic.svelte';

	import CommentWrapper from '../CommentWrapper.svelte';
	import Comment from './CommentComic.svelte';

	import CommentEditorWrapper from '../CommentEditorWrapper.svelte';
	import CommentEditor from './CommentEditorComic.svelte';

	import PostDetails from '../../PostDetails.svelte';
	import Tag from './Components/TagComic.svelte';
	import Loader4 from '$components/Loader4.svelte';

	import moment from 'moment';

	export let post: iPost;
	export let loaderVisible: boolean = false;

	export let comments: iComment[];
	export let showComments: boolean = false;
	export let commentLoaderVisible: boolean = false;

	export let deletePost: () => void;
	export let editPost: () => void;
	export let addComment: (comment: iComment) => void;
	export let removeComment: (comment: iComment) => void;
	export let updateCommentList: (comment: iComment) => void;

	let commentColorMappings = {};

	const createCommentColorMappings = (comments) => {
		let color = 0;

		const incrementColor = () => {
			color = (color + 1) % 8;
			if (post.color !== undefined && post.color === color) {
				color = (color + 1) % 8;
			}
		};

		if (post.color !== undefined) {
			commentColorMappings['jid' + post.user_id] = post.color;
		}

		comments.forEach((comment) => {
			if (commentColorMappings['jid' + comment.user_id] === undefined) {
				incrementColor();
				commentColorMappings['jid' + comment.user_id] = color;
				comment.color = commentColorMappings['jid' + comment.user_id];
			}
			comment.color = commentColorMappings['jid' + comment.user_id];
		});
		//Svelte weirdness
		commentColorMappings = commentColorMappings;
	};

	$: createCommentColorMappings(comments);
</script>

<article
	id="{post.user_id}-{post.ID}"
	in:fade={{ duration: 250 }}
	on:introend={() => {
		dispatch('introend', {});
	}}
>
	<div
		class="panel"
		class:colora={!post.color || post.color === 0}
		class:colorb={post.color && post.color === 1}
		class:colorc={post.color && post.color === 2}
		class:colord={post.color && post.color === 3}
		class:colore={post.color && post.color === 4}
		class:colorf={post.color && post.color === 5}
		class:colorg={post.color && post.color === 6}
		class:colorh={post.color && post.color === 7}
	>
		<div class="text top-left">
			<a href="/journals/{post.user_id}">{post.user.username}</a>
			-
			{@html post.title}
		</div>
		<div class="post-content speech">
			{@html post.content}
		</div>

		{#if post.details && post.details.length > 0}
			<div class="post-details-root text">
				{#each post.details as detail (detail.ID)}
					<PostDetails {detail} />
				{/each}
			</div>
		{/if}
		{#if post.tags && post.tags.length > 0}
			<div class="post-tags-root">
				<div class="post-tags-title">Tags:</div>
				<div class="post-tags">
					{#each post.tags as tag (tag.ID)}
						<Tag {tag} />
					{/each}
				</div>
			</div>
		{/if}
		<div class="text bottom-right">
			{moment(post.created_at, moment.ISO_8601).format('MM-DD-YYYY h:mm a')}
		</div>
	</div>

	<div class="post-footer">
		<Button
			on:click={() => {
				showComments = !showComments;
			}}
			color="primary"
		>
			{#if showComments}
				Hide comments
			{:else}Comments ({post.comment_count}){/if}
		</Button>
		{#if $auth.user.ID === post.user_id}
			<Button on:click={editPost}>Edit Post</Button>
			<Button color="accent" on:click={deletePost}>Delete Post</Button>
		{/if}
		<Loader4 visible={loaderVisible} />
	</div>

	{#if showComments}
		<div class="comments-root stack">
			{#if comments}
				{#each comments as comment (comment.ID)}
					<div transition:slide>
						<CommentWrapper
							commentComponent={Comment}
							{comment}
							{removeComment}
							{updateCommentList}
						/>
					</div>
				{/each}
			{/if}
			{#if $auth.user.ID !== 0}
				<div class="cEditor" transition:slide>
					<CommentEditorWrapper
						editorComponent={CommentEditor}
						comment={defaultComment}
						updateComment={addComment}
						loaderVisible={commentLoaderVisible}
					/>
				</div>
			{/if}
		</div>
	{/if}
</article>

<style>
	article {
		font-family: 'Comic Sans', 'Comic Sans MS', cursive;
		display: flex;
		flex-direction: column;
	}

	:global(.panel) {
		background-color: #fff;
		border: solid 2px #000;
		box-shadow: 0 6px 6px -6px #000;
		display: inline-block;
		flex: 1 1 auto;
		/* height: 200px; */
		/* margin: var(--spacing, 8px); */
		overflow: hidden;
		position: relative;
		width: 100%;
		padding: var(--spacing, 8px);
		padding-bottom: 40px;
	}

	:global(.text) {
		background-color: #fff;
		border: solid 2px #000;
		margin: 0;
		padding: 3px 10px;
	}

	:global(.top-left) {
		left: -6px;
		position: absolute;
		top: -2px;
		transform: skew(-15deg);
	}

	:global(.bottom-right) {
		bottom: -2px;
		position: absolute;
		right: -6px;
		transform: skew(-15deg);
	}

	:global(.speech) {
		background-color: #fff;
		border: solid 2px #000;
		border-radius: 12px;
		display: inline-block;
		margin: 0.5em;
		padding: 0.5em 1em;
		position: relative;
	}

	:global(.speech:before) {
		border: solid 12px transparent;
		border-left: solid 12px #000;
		border-top: solid 12px #000;
		bottom: -24px;
		content: '';
		height: 0;
		left: 24px;
		position: absolute;
		transform: skew(-15deg);
		width: 0;
	}

	:global(.speech:after) {
		border: solid 10px transparent;
		border-left: solid 10px #fff;
		border-top: solid 10px #fff;
		bottom: -19px;
		content: '';
		height: 0;
		left: 27px;
		position: absolute;
		transform: skew(-15deg);
		width: 0;
	}

	:global(.colora) {
		background-image: radial-gradient(circle, yellow, orange);
	}

	:global(.colorb) {
		background-image: radial-gradient(circle, lightblue, deepskyblue);
	}

	:global(.colorc) {
		background-image: radial-gradient(circle, palegreen, yellowgreen);
	}

	:global(.colord) {
		background-image: radial-gradient(circle, lightcoral, tomato);
	}

	:global(.colore) {
		background-image: radial-gradient(circle, LavenderBlush, LightPink);
	}

	:global(.colorf) {
		background-image: radial-gradient(circle, Ivory, LightSteelBlue);
	}

	:global(.colorg) {
		background-image: radial-gradient(circle, AliceBlue, Aqua);
	}

	:global(.colorh) {
		background-image: radial-gradient(circle, Thistle, MediumSlateBlue);
	}

	.post-content {
		margin: 40px;
	}

	.post-footer {
		display: flex;
		flex-direction: row-reverse;
		padding: var(--spacing);
	}

	.post-footer > :global(* + *) {
		margin-right: var(--spacing, 8px);
	}

	.comments-root {
		margin-left: 10rem;
		margin-right: var(--spacing, 8px);
	}

	.post-details-root {
		display: grid;
		grid-row-gap: var(--spacing);
		grid-template-columns: auto minmax(0, 1fr);
		font-size: 0.85rem;
		margin: 8px 40px 8px 200px;
		background-color: lemonchiffon;
	}

	.post-tags-root {
		margin-top: calc(var(--spacing, 8px) * 2);
		display: grid;
		grid-row-gap: var(--spacing);
		grid-template-columns: 30ch auto;
		font-size: 0.85rem;
	}

	.post-tags-title {
		font-weight: bold;
		display: grid;
		align-content: center;
		justify-content: end;
		margin-right: var(--spacing, 8px);
	}

	.post-tags {
		display: flex;
		flex-direction: row;
		gap: var(--spacing, 8px);
	}
</style>
