<script lang="ts">
	import Textfield from '$components/Textfield.svelte';
	import Button from './Components/ButtonComic.svelte';
	import Loader4 from '$components/Loader4.svelte';
	import type { iUser } from '$lib/types';

	export let loaderVisible: boolean = false;
	export let activeUser: iUser;
	export let updateProfile;
	export let deleteUser;
	export let resetUser;
	export let updatePassword;
</script>

<div class="stack profile-root">
	<h3>{activeUser.username}'s Profile</h3>
	<Textfield
		label="E-mail address"
		value={activeUser.email}
		message="This does nothing right now"
	/>
	<Textfield
		bind:value={activeUser.visibleemail}
		label="Visible email"
		message="This is the E-mail address that is displayed next to your name
		on the site. Change it to whatever you like."
	/>
	<Textfield bind:value={activeUser.firstname} label="First name" />
	<Textfield bind:value={activeUser.lastname} label="Last name" />
	<div class="actions">
		<Button
			on:click={() => {
				updateProfile(activeUser);
			}}
		>
			Update Profile
		</Button>
		<Button
			on:click={() => {
				resetUser();
			}}
		>
			Reset Changes
		</Button>
		<Button
			on:click={() => {
				deleteUser();
			}}
			color="accent"
		>
			Delete User
		</Button>
	</div>
</div>
<Loader4 visible={loaderVisible} />

<style>
	.profile-root {
		margin-right: var(--spacing, 4pt);
	}
	.actions {
		display: flex;
		flex-direction: row-reverse;
	}
	.actions > :global(* + *) {
		margin-right: var(--spacing, 4pt);
	}
</style>
