<script lang="ts">
	import { fade } from 'svelte/transition';
</script>

<div class="column border-radius box-root raised" transition:fade>
	<div class="header border-radius-top"><slot name="header" /></div>
	<div class="content box-content"><slot name="content" /></div>
	<!-- The below is only here to remove a warning. It should be removed for future updates of Svelte -->
	{#if false}<slot />{/if}
</div>

<style>
	div:empty {
		display: none;
	}

	.box-root {
		flex: 0 0 auto;
		border: 1px solid var(--divider, rgba(0, 0, 0, 0.1));
		background-color: var(--bg-panel, transparent);
	}

	.box-content {
		padding: var(--spacing, 8px);
	}
</style>
