body {
	background-color: #293447;
	font-family: verdana,arial,serif;
	font-size: 10pt;
	color: #CCCCCC;
	text-align: center;
}

.inplaceeditor-saving {
	background: url("themes/spinner.gif") bottom right no-repeat;
}

td {
	font-size: 10pt;
}

ul { 	
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	margin: 0;
	padding: 0;
}

a:link {
	color: #6699CC;
	background-color: transparent;
	text-decoration: none;	
}

a:hover {
	background-color: transparent;
	text-decoration: underline;
	color: #99CCFF;
}
a:visited {
	background-color: transparent;
	text-decoration: none;
	color: #AD3D40;	
}

a.menu {
	border: solid;
	padding: 2pt;
}
a.menu:link {
	text-decoration: none;
	color: #6699CC;
}

a.menu:hover {
	text-decoration: underline;
	background: black;
}
a.menu:visited {
	text-decoration: none;
	color: #ad3d40;
}

img {
	border: 0px;
}

div.container {
	width: 80%;
	text-align: left;
	margin: 0 auto;
}

div.rightalign {
	text-align: right;
}

div.logo {	
	font-family: Verdana, Arial, serif;
	font-size: 20pt;	
	color: white;
	text-align: center;
	width: 100%;
	border: solid black;
	border-width: 2px;
	background-color: #708090;
	clear: both;

}

div.mainmenu {
	padding: 20px;
	float: right;
	text-align: right;
	position: relative;
}

div.tagline {
	clear: both;
	font-size: 12pt;
}

div.entrytop {
	background: url("entrytop.png");
	background-repeat: no-repeat;
	width: 100%;
	height: 21px;
	float: left;
	clear: both;
}

div.entry {
	background: url("entryleft.png");
	background-repeat: no-repeat;
	width: 84px;
	height: 200px;
	float: left;
}

div.postheader {
	border: solid black;
	border-width: 1px;
	clear: both;
	padding: 2pt;
	color: #CCCCCC;
	background: #1F3650
}

div.postbody {
	clear: both;
	color: #CCCCCC;
}

div.topic {
	font-size: 12pt;
	font-weight: bold;
	clear: both;
	color: #EEEEEE;
}

div.lineend {
	height: 32px;
}

div.postend {
	clear: both;
}

div.post {	
	float: left;
	width: 100%;
	min-width: 20%;
}

div.entrycontainer {
	width: 100%;
	clear: both;
	margin-bottom: 40px;
}

div.header {
	width: 100%;
	text-align: center;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

div.footer {
	width: 100%;
	clear: both;
	font-size: 8pt;
	text-align: center;
}

div.posts {	
	float: left;
	max-width: 80%;
}

* html body div.posts {width: 80%;}

div.boxes {
	float: right;
	width: 18%;
}

div.box {
	position: relative;
	width: 100%;
	margin-bottom: 14pt;
}

div.boxcontent {
	position: relative;
	padding: 2pt;
	z-index: 5;
	background-color: black;
	border: solid #CCCCCC 1pt;
	width: 100%;
}


div.boxtop {
	position: relative;
	width: 100%;
	background-color: #29405A;
	padding: 2pt;
	border: solid #CCCCCC 1pt;
	text-align: center;
	height: 14pt;
	z-index: 5;
}

div.boxtoptext
{
	position: relative;
	float: left;
	height: 100%;
	width: 80%;
	font-size: 12pt;
	margin: auto 0;
}

div.closebox {
	float: left;
	width: 18px;
	height: 19px;
	background: url("close.png");
	background-repeat: no-repeat;
}

div.windowshade {
	float: right;
	width: 20px;
	height: 19px;
	background: url("windowshade.png");
	background-repeat: no-repeat;
	text-align: right;
	clear: none;
}


div.leftside {
	width: 4px;
	height: 200px;
	float: left;
}

div.rightside {
	width: 4px;
	height: 200px;
	float: right;
}

div.commentcontainer {	
	clear: both;
	width: 100%;
	margin-bottom: 15px;
}

div.post_comment {		
	color: #CCCCCC;
	border: solid black;
	border-width: 0px;
	border-left-width: 1px;
	border-top-width: 1px;
	padding: 4pt;

}

div.clearer {
	clear: both;
}

div.vent_options_title {
	font-size: 12pt;
	font-weight: bold;
	clear: both;

}

div.vent_system_error {
	color: red;
}

div.quote {
	margin-left: 20px;
	padding: 4px;
	background: url("quote_bg.png");
}


div.code {
	margin-left: 20px;
	padding: 4px;
	background: url("quote_bg.png");
	font-family: Courier New, Courier;
}

#comment_edit_hover {
	border: solid black 1pt;
}


