    body {
		width: 65%;
		margin-right: auto;
		margin-left: auto; 	
		font-family: tahoma;
		font-size: 10pt;
		background-color: gray;
	}

	div.header_container {
		clear: both;
		background-color: #9C0606;
		width: 99%;
		height: 85pt;
		padding: 1pt;
		color: #ffffff;
		border-top-color: #808080;
		border-top-style: groove;	
		border-bottom-color: #808080;
		border-bottom-style: groove;	
		border-right-color: #808080;
		border-right-style: groove;	
		border-left-color: #808080;
		border-left-style: groove;		
	}

	div.main_menu {
		width: 100%;
		padding: 10pt;
		clear: both;
	}

	a.menu {		
		padding: 5pt;
		margin: 5pt;
	}
	
	a.menu:link {
		color: white;
		text-decoration: underline;
	}

	a.menu:hover {
		color: red;
	}

	a.menu:visited {
		color: Gray; 
	}

	div.logo {
		margin: 0pt;
		margin-top: 10pt;
		margin-left: 30pt;
		width: 249px;
		height: 98px;
		background: url("vent.png");
		background-repeat: no-repeat;
	}

	div.main_body {
		width: 100%;
		font-family: Tahoma;
		font-size: 10pt;
	}

	div.left_side {
		float: left;
		padding: 5pt;
	}
	
	div.center {
		width: 68%;
		max-width: 68%;
		min-width: 68%;
		float: left;	
		border-top-color: #808080;
		border-top-style: groove;	
		border-bottom-color: #808080;
		border-bottom-style: groove;	
		border-right-color: #808080;
		border-right-style: groove;	
		border-left-color: #808080;
		border-left-style: groove;	
		background-color: white;
		padding: 5pt;
	}
	div.right_side {
		list-style-type: none;
		list-style: none;
		width: 27%;
		float: right;
		clear: right;
		padding: 1pt;
		font-size: x-small;
		max-width: 27%;
		min-width: 27%;
		background-color: gray;
}

div.module_name {
	list-style: none;
	font-size: medium;
	font-weight: bold;
	background-color: #6F3333;
	color: white;
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding: 2pt;
	border-bottom-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-left-color: #000000;
}

div.module_content {
	font-size: small;
	padding: 0;
	margin-bottom: 5pt;
	background-color: white;
	padding: 5pt;
}

	div.post_container {
	margin: 0pt;
	margin-bottom: 20pt;
	font-size: small;
}

	div.post_topic
	{
	font-size: large;
	clear: both;
}
	div.post_user_details {
	font-size: x-small;
	clear: both;
}

	div.post_content {
	margin: 10pt;
	clear: both;
	font-size: small;
	background-color: white;
}

	div.post_comment_link {
	text-align: right;
	clear: both;
	font-size: inherit;
	width: 100%;
}

	div.post_tags {
	float: left;
	font-size: small;
	width: 100%;
}

	div.post_details {
	clear: both;
	font-size: small;
	width: 100%;
}
	
	div.comment_container {
		margin: 0pt;
		margin-left: 2pt;
		margin-bottom: 10pt;
	}

	div.comment_header {
	font-size: small;
	clear: both;
}

	div.comment_content {
	margin: 0pt;
	font-size: small;
}

	div.comment_options {
		width: 100%;
		clear: both;
	}

	.modlist 
	{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

div.title 
{
	font-size: x-large;
	font-family: Arial, Helvetica, sans-serif;
	font-variant: normal;
	font-style: normal;
	margin-bottom: 10pt;
	margin-left: 5pt;
}

div.tagline 
{
	text-indent: 10pt;
}

div.clearer 
{
	clear:both;
}

div.footer 
{
	text-align: center;
}