    body {
		font-family: sans-serif;
		font-size: 10pt;
	}

	div.header_container {
	clear: both;
	background-color: #373737;
	width: 100%;
	height: 100pt;
	color: #FFFFFF;
}

	div.main_menu {
		width: 100%;
		padding: 10pt;
		clear: both;
	}

	a.menu {		
		padding: 5pt;
		margin: 5pt;
	}
	
	a.menu:link {
		color: white;
		text-decoration: underline;
	}

	a.menu:hover {
		color: blue;
	}

	a.menu:visited {
		color: Gray; 
	}

	div.logo {
		margin: 0pt;
		margin-top: 10pt;
		margin-left: 30pt;
		width: 249px;
		height: 98px;
		background: url("vent.png");
		background-repeat: no-repeat;
	}

	div.main_body {
		width: 100%;
		font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
		font-size: 10pt;
	}

	div.left_side {
		float: left;
		padding: 5pt;
	}
	
	div.center {
		width: 65%;
		float: left;
		padding: 5pt;
	}
	div.right_side {
	list-style-type: none;
	list-style: none;
	width: 30%;
	float: right;
	clear: right;
	padding: 5pt;
	font-size: x-small;
	border-left-color: #808080;
	border-left-style: groove;
	max-width: 30%;
	min-width: 30%;
	background-color: gray;
}

	div.module_name {
	list-style: none;
	font-size: medium;
	font-weight: bold;
	background-color: #C0C0C0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding: 2pt;
}

div.module_content {
	font-size: small;
	padding: 0;
	margin-bottom: 5pt;
	background-color: white;
	padding: 5pt;
}

	div.post_container {
	margin: 0pt;
	margin-bottom: 20pt;
	font-size: small;
}

	div.post_topic
	{
	font-size: large;
	clear: both;
}
	div.post_user_details {
	font-size: x-small;
	clear: both;
}

	div.post_content {
	margin: 10pt;
	clear: both;
	font-size: small;
	background-color: white;
}

	div.post_comment_link {
	text-align: right;
	clear: both;
	font-size: inherit;
	width: 100%;
}

	div.post_tags {
	float: left;
	font-size: small;
	width: 100%;
}

	div.post_details {
	clear: both;
	font-size: small;
	width: 100%;
}
	
	div.comment_container {
		margin: 0pt;
		margin-left: 20pt;
		margin-bottom: 10pt;
	}

	div.comment_header {
	font-size: small;
	clear: both;
}

	div.comment_content {
	margin: 0pt;
	margin-left: 10pt;
	font-size: small;
}

	div.comment_options {
		width: 100%;
		clear: both;
	}

	.modlist 
	{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

div.title 
{
	font-size: x-large;
	font-family: Arial, Helvetica, sans-serif;
	font-variant: normal;
	font-style: normal;
	margin-bottom: 10pt;
	margin-left: 5pt;
}

div.tagline 
{
	text-indent: 10pt;
}

div.clearer 
{
	clear:both;
}

div.footer 
{
	text-align: center;
}