<script lang="ts">
	import { onMount } from 'svelte';
	import { getAdminUsers } from '$lib/api';
	import type { iUser } from '$lib/types';

	let admins: iUser[] = [];
	let loaderVisible: boolean = false;
	let error: string = undefined;

	export let boxComponent;

	onMount(() => {
		loaderVisible = true;
		getAdminUsers()
			.then((users) => {
				admins = users;
				loaderVisible = false;
			})
			.catch((err) => {
				error = 'Hex has stopped working temporarily. Try again when the mouse has been found.';
				loaderVisible = false;
			});
	});
</script>

<svelte:component this={boxComponent} {admins} bind:loaderVisible {error} />
