<script lang="ts">
	import { onMount } from 'svelte';

	import { getLyric } from '$lib/api';
	import type { iLyric } from '$lib/types';

	export let boxComponent;

	let lyric: iLyric;
	let loaderVisible: boolean = false;
	let error: string = undefined;

	onMount(() => {
		loaderVisible = true;
		getLyric()
			.then((l) => {
				lyric = l;
				loaderVisible = false;
			})
			.catch((err) => {
				loaderVisible = false;
				error = 'Ponder Stibbons is unavailable to pull the big red lever.';
			});
	});
</script>

<svelte:component this={boxComponent} {lyric} bind:loaderVisible {error} />
