<script lang="ts">
	import { onMount } from 'svelte';

	import { savedPost, deletedPost } from '../../PostEditor/PostStore';

	import type { iPost } from '$lib/types';
	import { getRecentPosts } from '$lib/api';

	export let boxComponent;

	let recentPosts: iPost[] = [];
	let loaderVisible: boolean = false;
	let error: string = undefined;

	onMount(() => {
		loaderVisible = true;
		getRecentPosts()
			.then((posts: iPost[]) => {
				recentPosts = posts;
				loaderVisible = false;
			})
			.catch((err: Error) => {
				// console.log(err);
				loaderVisible = false;
				error = "We're busy adding another sheep skull to the water wheel. Please try again later.";
			});
	});

	function insertPost(post: iPost) {
		if (post.ID === 0) return;

		recentPosts = [post, ...recentPosts];
	}

	function removePost(post: iPost) {
		if (!post) return;

		recentPosts = recentPosts.filter((jpost: iPost) => {
			return post.ID !== jpost.ID;
		});
	}

	$: insertPost({ ...$savedPost });
	$: removePost($deletedPost);
</script>

<svelte:component this={boxComponent} recentJournals={recentPosts} bind:loaderVisible {error} />
