<script lang="ts">
	import { createEventDispatcher } from 'svelte';
	const dispatch = createEventDispatcher();

	// import { authenticatedUser } from '$stores/authenticatedUserStore';
	import auth from '$stores/authenticatedUserStore';
	import { visible } from '$lib/modernized/PostEditor/PostStore';
	import { loginDialogVisible } from '$lib/modernized/LoginDialog.svelte';

	export let boxComponent;

	const handleSignInOutClick = (e) => {
		if ($auth.user.ID === 0) {
			$loginDialogVisible = true;
		} else {
			auth.logout();
		}

		// if ($authenticatedUser.ID === 0) {
		// 	loginDialogVisible.set(true);
		// } else {
		// 	authenticatedUser.set({
		// 		...$authenticatedUser,
		// 		ID: 0,
		// 		username: ''
		// 	});
		// 	document.cookie = 'Bearer_Token=; expires = Thu, 01 Jan 1970 00:00:00 GMT';
		// 	window.localStorage.removeItem('refresh_token');
		// }
	};
	const onClickAddPost = () => {
		$visible = true;
		dispatch('addPost', {});
	};
</script>

<svelte:component this={boxComponent} {onClickAddPost} {handleSignInOutClick} />
