<script lang="ts">
	import Textarea from '$components/Textarea.svelte';
	import Button from '$components/Button.svelte';
	import Loader4 from '$components/Loader4.svelte';
	import type { iComment } from '$lib/types';

	export let focus: boolean = false;
	export let loaderVisible: boolean = false;
	export let error: string = '';
	export let editingComment: iComment;
	export let cancel: () => void;
	export let updateComment: (comment: iComment) => void;
</script>

<div class="cEditor-root">
	<div class="cEditor-header">
		{#if editingComment.ID === 0}Add new comment{:else}Edit comment{/if}
	</div>
	<div class="cEditor-content">
		<!-- prettier-ignore -->
		<Textarea
			bind:value="{editingComment.content}"
			rows="{4}"
			message="Comment message"
			label="Comment"
			outlined="{true}"
			{focus}
			{error}
			disabled="{loaderVisible}" ></Textarea>
	</div>
	<div class="cEditor-footer">
		<Button
			color="primary"
			on:click={() => {
				updateComment(editingComment);
			}}>Save</Button
		>
		<Button color="accent" on:click={cancel}>Cancel</Button>
		<Loader4 visible={loaderVisible} />
	</div>
</div>

<style>
	.cEditor-root {
		display: flex;
		flex-direction: column;
		border-radius: var(--border-radius);
		border: 1px solid var(--divider);
	}

	.cEditor-header {
		display: flex;
		flex: 0 0 auto;
		flex-direction: row;
		font-weight: 600;
		font-size: 1.2rem;
		border-bottom: 1px solid var(--divider);
		background: var(--divider, rgba(0, 0, 0, 0.1));
		padding: var(--spacing, 8px);
		border-top-right-radius: var(--border-radius);
		border-top-left-radius: var(--border-radius);
	}

	.cEditor-content {
		display: inline-block;
		padding: var(--spacing);
	}

	.cEditor-footer {
		display: flex;
		flex-direction: row-reverse;
	}
</style>
