<script lang="ts">
	import { onMount } from 'svelte';
	import { querystring } from 'svelte-spa-router';
	import { confirmNewUser } from '../api';
	import { loginDialogVisible } from './LoginDialog.svelte';
	import Loader2 from '../Components/Loader2.svelte';
	let loaderVisible = false;

	onMount(() => {
		loaderVisible = true;
		//Probably need to parse querystring here if things get more complicated than
		//just adding the uuid to the end of the route
		confirmNewUser($querystring)
			.then((result) => {
				if (result === 'true') {
					loaderVisible = false;
					loginDialogVisible.set(true);
				}
			})
			.catch((error) => {
				//Should probably handle error here
				//Show a message or something
				loaderVisible = false;
				console.log(error);
			});
	});
</script>

<Loader2 visible="{loaderVisible}" />
