<script lang="ts" context="module">
	import { writable } from 'svelte/store';
	export const visible = writable(false);

	export const deleteData = writable(null);
	export const deleteType = writable(null);
</script>

<script lang="ts">
	import Dialog from '$components/Dialog.svelte';
	import Button from '$components/Button.svelte';

	const clickNo = () => {
		$deleteData = null;
	};

	const clickYes = () => {
		if (!$deleteData) return;
		$deleteData.deleteCallback($deleteData.model);
	};

	const onClose = () => {
		$deleteData = null;
	};
</script>

<Dialog visible={$deleteData !== null} on:close={onClose}>
	<div slot="title">Confirm delete</div>

	<div>Are you sure you want to delete {$deleteType || 'this item'}?</div>

	<div slot="actions" class="actions center">
		<Button tabindex="3" on:click={clickNo}>No</Button>
		<Button tabindex="4" on:click={clickYes}>Yes</Button>
	</div>
</Dialog>

<style>
</style>
