<script context="module">
	import { writable } from 'svelte/store';
	export const loginDialogVisible = writable(false);
</script>

<script lang="ts">
	import auth from '$stores/authenticatedUserStore';

	import Button from '$components/Button.svelte';
	import Textfield from '$components/Textfield.svelte';
	import Dialog from '$components/Dialog.svelte';
	import Loader2 from '$components/Loader2.svelte';
	import { prevent_default } from 'svelte/internal';

	let username: string = '';
	let password: string = '';
	let form: HTMLFormElement = null;
	export let error: string = '';
	export let loaderVisible: boolean = false;

	let focusUsername: boolean = false;
	let focusPassword: boolean = false;

	let disableSignin = false;

	function onKeyPress(e) {
		if (e.key === 'Enter' && username.length > 0 && password.length > 0) {
			onLogin(null);
		}
	}

	async function onLogin(e) {
		loaderVisible = true;
		auth.login(username, password);
	}

	$: disableSignin = !(
		username != undefined &&
		username.length > 0 &&
		password != undefined &&
		password.length > 0
	);

	$: {
		error = $auth.error;
		if (error) {
			password = '';
			focusPassword = true;
		}
		if ($loginDialogVisible && $auth.user.ID) {
			$loginDialogVisible = false;
			loaderVisible = false;
		}
	}
</script>

<Dialog
	width={290}
	visible={$loginDialogVisible}
	on:close={() => {
		loginDialogVisible.set(false);
	}}
>
	<div slot="title">Welcome!</div>

	<form id="login" on:submit|preventDefault={() => {}} bind:this={form}>
		<Textfield
			name="username"
			id="username"
			disabled={loaderVisible}
			required
			bind:value={username}
			label="username"
			message="Your account name"
			bind:focus={focusUsername}
			on:keypress={onKeyPress}
			tabindex="1"
		/>
		<Textfield
			type="password"
			name="password"
			id="password"
			disabled={loaderVisible}
			required
			bind:value={password}
			label="password"
			message="Your password"
			bind:focus={focusPassword}
			on:keypress={onKeyPress}
			tabindex="2"
		/>
	</form>

	<div slot="actions" class="actions center">
		<Button tabindex="3" color="primary" disabled={disableSignin} on:click={onLogin}>Submit</Button>
	</div>

	<div slot="footer" class="footer">
		<!-- <div class="error">{error}</div> -->
		<div class="error">{error || ''}</div>
		Don't have account?
		<a
			href="/signup"
			class="disabled"
			on:click={() => {
				$loginDialogVisible = false;
			}}>Sign Up</a
		>
	</div>
	<Loader2 visible={loaderVisible} />
</Dialog>

<style>
	.footer {
		text-align: center;
		margin-bottom: 1rem;
		font-size: 13px;
	}
	.footer a {
		color: #f50057;
		padding-left: 1rem;
	}
	.error {
		color: red;
		padding: var(--spacing) 0;
	}
	.error:empty {
		display: none;
	}
</style>
