<script lang="ts">
	import MainWrapper from './Themes/MainWrapper.svelte';
	import MainDefault from './Themes/Default/MainDefault.svelte';

	export let params = { jid: 0 };
</script>

<MainWrapper mainComponent={MainDefault} />
