<script lang="ts">
	import type { iDetail } from '$lib/types';
	export let detail: iDetail;
</script>

<div class="name">{detail.name}</div>
<div class="value">
	{@html detail.value}
</div>

<style>
	.name {
		font-weight: bold;
		justify-self: end;
		margin-right: var(--spacing, 8px);
	}
	.name:after {
		content: ': ';
	}
</style>
