<script lang="ts">
	import { createEventDispatcher } from 'svelte';
	const dispatch = createEventDispatcher();

	import { Chip, Ripple } from '$components';
	import type { iTag } from '../types';

	export let tag: iTag;
	export let idx: number;
	export let editing: boolean = false;

	const onClick = () => {
		dispatch('remove', { tag: tag, idx: idx });
	};
</script>

<Chip class="chip" {...$$props}>
	<div>
		{tag.tag}
	</div>
	{#if editing}
		<div>
			<i class="icon" on:click={onClick}>
				<svg
					focusable="false"
					viewBox="0 0 24 24"
					width="24"
					height="24"
					aria-hidden="true"
					tabindex="-1"
					data-ga-event-category="vent-icons"
					data-ga-event-action="click"
					data-ga-event-label="Clear"
				>
					<path
						d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
					/>
				</svg>

				<Ripple center={true} circle={true} />
			</i>
		</div>
	{/if}
</Chip>

<style>
	/* :global(.chip + .chip) {
		margin-inline-start: var(--spacing, 8px);
	} */
	.icon:before {
		box-sizing: inherit;
		border-radius: inherit;
		color: inherit;
		bottom: 0;
		content: '';
		left: 0;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		right: 0;
		top: 0;
		transition: 0.2s cubic-bezier(0.25, 0.8, 0.5, 1);
		will-change: background-color, opacity;
	}
	.icon {
		display: inline-block;
		position: relative;
		vertical-align: middle;
		line-height: 0.5;
		margin-left: 4px;
		margin-right: -4px;
		border-radius: 50%;
		cursor: pointer;
		padding: 4px;
	}
	.icon:focus,
	.icon:active {
		outline: none;
	}

	svg {
		width: 24;
		height: 24;
		fill: currentColor;
	}
	svg:focus,
	svg:active {
		outline: none;
	}

	@media (hover: hover) {
		.icon:hover:not([disabled]):not(.disabled):before {
			background-color: currentColor;
			opacity: 0.15;
		}
	}
</style>
