<script lang="ts">
	import { getContext } from 'svelte';
	import { Textfield, Button, Menu, Menuitem, Icon } from '../Components';
	import type ThemeStyle from '../Theming/ThemeStyle';

	import MainWrapper from './Themes/MainWrapper.svelte';
	import MainDefault from './Themes/Default/MainDefault.svelte';
	import MainComic from './Themes/Comic/MainComic.svelte';

	const { theme, setNewTheme } = getContext('theme');

	const defaultTheme: ThemeStyle = {
		name: 'test',
		theme: {
			'--color': '#333',
			'--alternate': '#fff',
			'--bg-color': '#fbfbfb',
			'--primary': '#1976d2',
			'--accent': '#f50057',
			'--divider': 'rgba(0,0,0,0.1)',
			'--bg-popover': '#fff',
			'--border': '#dfdfdf',
			'--label': 'rgba(0,0,0,0.3755)',
			'--bg-input-filled': 'rgba(0,0,0,0.0555)',
			'--bg-app-bar': '#888',
			'--bg-panel': '#eee',
			'--font-family': 'Roboto,Helvetica,sans-serif',
			'--heading-font-family': 'var(--font-family)',
			'--button-font-family': 'var(--font-family)',
			'--code-font-family': '"Roboto Mono",Menlo,Consolas,monospace',
			'--focus-color': 'rgba(25,118,210,0.5)',
			'--spacing': '8px',
			'--border-radius': '4px',
			'--box-shadow':
				'box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);',
		},
	};

	//This sort of code can be used for code splitting
	//https://stackoverflow.com/questions/60024414/how-to-do-code-splitting-using-svelte-without-sapper
	// import('./Themes/Comic/MainComic.svelte')
	// 					.then((module) => module.default)
	// 					.then((MainComic) => {
	// 						mainComponent = MainComic;
	// 					})
	// 					.catch((error) => console.log(error));

	let editingStyle = { ...defaultTheme };
	// let mainComponent = MainDefault;
	let mainComponent = MainDefault;

	const onBlur = () => {
		setNewTheme(editingStyle);
	};

	const reset = () => {
		editingStyle = { ...defaultTheme };
		setNewTheme(editingStyle);
	};
</script>

<div class="theme-editor-root">
	<section class="stack editor-root ">
		<Menu origin="top left">
			<div slot="activator">
				<Button
					color="primary"
					outlined
					ripple="{false}"
					style="padding-right: 4px;">
					<span>Theme</span>
					<Icon>
						<svg
							focusable="false"
							viewBox="0 0 24 24"
							aria-hidden="true"
							tabindex="-1"
							title="ArrowDropDown"
							data-ga-event-action="click"
							data-ga-event-label="ArrowDropDown">
							<path d="M7 10l5 5 5-5z"></path>
						</svg>
					</Icon>
				</Button>
			</div>
			<Menuitem
				on:click="{() => {
					mainComponent = MainDefault;
				}}">
				Default Theme
			</Menuitem>
			<Menuitem
				on:click="{() => {
					mainComponent = MainComic;
				}}">
				Comic Theme
			</Menuitem>
		</Menu>

		<Textfield
			bind:value="{editingStyle.theme['--color']}"
			label="--color"
			on:blur="{onBlur}" />
		<Textfield
			bind:value="{editingStyle.theme['--alternate']}"
			label="--alternate"
			on:blur="{onBlur}" />
		<Textfield
			bind:value="{editingStyle.theme['--bg-color']}"
			label="--bg-color"
			on:blur="{onBlur}" />
		<Textfield
			bind:value="{editingStyle.theme['--primary']}"
			label="--primary"
			on:blur="{onBlur}" />
		<Textfield
			bind:value="{editingStyle.theme['--accent']}"
			label="--accent"
			on:blur="{onBlur}" />
		<Textfield
			bind:value="{editingStyle.theme['--divider']}"
			label="--divider"
			on:blur="{onBlur}" />
		<Textfield
			bind:value="{editingStyle.theme['--bg-popover']}"
			label="--bg-popover"
			on:blur="{onBlur}" />
		<Textfield
			bind:value="{editingStyle.theme['--border']}"
			label="--border"
			on:blur="{onBlur}" />
		<Textfield
			bind:value="{editingStyle.theme['--label']}"
			label="--label"
			on:blur="{onBlur}" />
		<Textfield
			bind:value="{editingStyle.theme['--bg-input-filled']}"
			label="--bg-input-filled"
			on:blur="{onBlur}" />
		<Textfield
			bind:value="{editingStyle.theme['--bg-app-bar']}"
			label="--bg-app-bar"
			on:blur="{onBlur}" />
		<Textfield
			bind:value="{editingStyle.theme['--bg-panel']}"
			label="--bg-panel"
			on:blur="{onBlur}" />
		<Textfield
			bind:value="{editingStyle.theme['--font-family']}"
			label="--font-family"
			on:blur="{onBlur}" />
		<Textfield
			bind:value="{editingStyle.theme['--heading-font-family']}"
			label="--heading-font-family"
			on:blur="{onBlur}" />
		<Textfield
			bind:value="{editingStyle.theme['--button-font-family']}"
			label="--button-font-family"
			on:blur="{onBlur}" />
		<Textfield
			bind:value="{editingStyle.theme['--code-font-family']}"
			label="--code-font-family"
			on:blur="{onBlur}" />
		<Textfield
			bind:value="{editingStyle.theme['--focus-color']}"
			label="--focus-color"
			on:blur="{onBlur}" />
		<Textfield
			bind:value="{editingStyle.theme['--spacing']}"
			label="--spacing"
			on:blur="{onBlur}" />
		<Textfield
			bind:value="{editingStyle.theme['--border-radius']}"
			label="--border-radius"
			on:blur="{onBlur}" />
		<Textfield
			bind:value="{editingStyle.theme['--box-shadow']}"
			label="--box-shadow"
			on:blur="{onBlur}" />
		<Button on:click="{reset}" color="primary" raised>Reset</Button>

	</section>

	<section class="preview-root">
		<!-- <JournalWrapper {journalComponent} /> -->
		<MainWrapper {mainComponent} />
	</section>
</div>

<style>
	.theme-editor-root {
		display: flex;
		flex-direction: row;
	}
	.editor-root {
		flex: 1 0 400px;
		margin-top: 208px;
	}

	.preview-root {
		display: flex;
		flex: 3 1 auto;
		flex-direction: column;
	}
	.preview-root > * + * {
		margin-top: 8px;
	}
</style>
