<script lang="ts">
	import Dialog from '$components/Dialog.svelte';
	import Button from '$components/Button.svelte';

	export let visible: boolean = false;
	export let yesCallback: (event: Event) => void;
	export let noCallback: (event: Event) => void;
</script>

<Dialog
	bind:visible
	on:close={() => {
		visible = false;
	}}
>
	<div slot="title">Confirm delete</div>

	<slot />

	<div slot="actions" class="actions center">
		<Button tabindex="3" on:click={noCallback} color="accent">No</Button>
		<Button tabindex="4" on:click={yesCallback} color="primary">Yes</Button>
	</div>
</Dialog>

<style>
</style>
