<script lang="ts">
	import type { SvelteComponent } from 'svelte';

	import type { iComment } from '$lib/types';
	import { defaultComment } from '$lib/types';

	export let editorComponent: new (...args) => SvelteComponent;
	export let comment: iComment = { ...defaultComment };
	export let focus: boolean = false;
	export let loaderVisible: boolean = false;
	export let cancel = () => {};
	export let updateComment: (comment: iComment) => Promise<boolean>;

	let error: string = '';
	let editingComment: iComment = { ...comment };

	function setInitial(initial: iComment) {
		editingComment = { ...initial };
	}

	async function onUpdate(newComment: iComment) {
		updateComment(newComment).then((result) => {
			if (result) setInitial(comment);
		});
	}

	function onCancel() {
		setInitial(comment);
		if (cancel) cancel();
	}

	$: setInitial(comment);
</script>

<svelte:component
	this={editorComponent}
	{focus}
	{error}
	{editingComment}
	updateComment={onUpdate}
	cancel={onCancel}
	bind:loaderVisible
/>
