<script lang="ts">
	import type { iComment } from '../../types';
	import YesNoDialog from '../YesNoDialog.svelte';
	import { deleteComment as apiDeleteComment, updateComment as apiUpdateComment } from '$lib/api';

	export let comment: iComment;
	export let commentComponent;
	export let removeComment: (comment: iComment) => void;
	export let updateCommentList: (comment: iComment) => void;

	let confirmDialogVisible: boolean = false;
	let editing: boolean = false;

	/**
	 * Calls API to update comment
	 *
	 * This should be passed all the way down to
	 * CommentEditor component. Path should be:
	 *
	 * 	CommentWrapper -> CommentComponent -> CommentEditorWrapper -> CommentEditorComponent	 *
	 * */
	function updateComment(comment: iComment): Promise<boolean> {
		return apiUpdateComment(comment)
			.then((result) => {
				updateCommentList(result);
				editing = false;
				return true;
			})
			.catch((error) => {
				// Do something with error
				editing = false;
				return false;
			});
	}

	function onCancel(e) {
		editing = false;
	}

	function deleteComment() {
		confirmDialogVisible = true;
	}

	function yesCallback(event) {
		apiDeleteComment(comment)
			.then(async (deleted) => {
				if (deleted) {
					removeComment(comment);
					confirmDialogVisible = false;
				}
			})
			.catch((error) => {
				console.log(error);
				confirmDialogVisible = false;
			});
	}

	function noCallback(event) {
		confirmDialogVisible = false;
	}
</script>

<svelte:component
	this={commentComponent}
	{comment}
	bind:editing
	{updateComment}
	{deleteComment}
	{onCancel}
/>

<YesNoDialog {yesCallback} {noCallback} bind:visible={confirmDialogVisible}>
	<svelte:fragment>Are you sure you want to delete this comment?</svelte:fragment>
</YesNoDialog>
