<script lang="ts">
	export let headerComponent;
	// import theme from '$stores/themeStore';
</script>

<a href="/">
	<svelte:component this={headerComponent} />
</a>
<!-- {#key $theme.name}
	<svelte:component this={$theme.header} />
{/key} -->
