<script lang="ts">
	import { afterUpdate, tick } from 'svelte';
	import { page } from '$app/stores';

	import type { iPost } from '$lib/types';
	import { getJournal, getRecentPosts, newPost } from '$lib/api';
	import { defaultPost } from '$lib/types';
	import PostEditorDialog from '../PostEditor/PostEditorDialog.svelte';
	import { visible } from '$lib/modernized/PostEditor/PostStore';

	export let journalComponent;
	export let params;
	export let initialPosts: iPost[] = [];

	let journalPosts: iPost[] = [];
	let offset: number = 0;
	let limit: number = 5;
	let infiniteScroll: boolean = false;
	let loaderVisible: boolean = false;
	let postsLoaded: boolean = false;

	let initialNewPost: iPost = { ...defaultPost };

	async function scrollTo(user_id: number, post_id: number) {
		await tick();
		let elm = document.getElementById(user_id + '-' + post_id);
		if (elm) {
			elm.scrollIntoView(true);
		}
	}

	async function infiniteHandler({ detail }) {
		offset = journalPosts.length;
		let newPosts: iPost[] = undefined;
		if (params != undefined && params.user_id != undefined) {
			newPosts = await getJournal(params.user_id, offset, limit);
		} else {
			newPosts = await getRecentPosts(false, offset);
		}
		if (newPosts && newPosts.length > 0) {
			journalPosts = [...journalPosts, ...newPosts];

			detail.loaded();
		} else {
			detail.complete();
		}
	}

	function isActiveJournal(post: iPost) {
		return post.user_id === params.user_id;
	}

	function isHostJournal(post: iPost) {
		return post?.user?.admin === true && $page.path === '/';
	}

	function insertPost(post: iPost): void {
		console.log('Inserting post');
		if (post.ID !== 0 && (isActiveJournal(post) || isHostJournal(post))) {
			let idx = journalPosts.findIndex((jPost: iPost) => {
				return jPost.ID === post.ID;
			});
			if (idx === -1) {
				journalPosts = [post, ...journalPosts];
			} else {
				journalPosts.splice(idx, 1, post);
				journalPosts = [...journalPosts];
			}
		}
	}

	function savePost(post: iPost): Promise<void | iPost> {
		return newPost(post)
			.then((result) => {
				$visible = false;
				insertPost(result);
				initialNewPost = { ...defaultPost };
				return result;
			})
			.catch((error) => {
				$visible = false;
				return error;
			});
	}

	function removePost(post: iPost) {
		if (!post) {
			return;
		}

		journalPosts = journalPosts.filter((p) => {
			return p.ID != post.ID;
		});
	}

	afterUpdate(() => {
		if (journalPosts && journalPosts.length > 0) {
			infiniteScroll = true;
		}
	});

	$: if (initialPosts) journalPosts = [...initialPosts];

	$: if (params && params.post_id && postsLoaded) {
		scrollTo(params.user_id, params.post_id);
	}
</script>

<svelte:component
	this={journalComponent}
	{journalPosts}
	{infiniteHandler}
	{removePost}
	{insertPost}
	bind:infiniteScroll
	bind:loaderVisible
	bind:postsLoaded
/>

<PostEditorDialog {savePost} post={initialNewPost} bind:visible={$visible} />
