<script lang="ts">
	import { createEventDispatcher } from 'svelte';
	let dispatch = createEventDispatcher();

	import type { iComment, iPost } from '../../types';
	import { defaultComment, defaultPost } from '../../types';
	import {
		getComments,
		deletePost as apiDeletePost,
		newComment as apiNewComment,
		updatePost
	} from '$lib/api';

	import auth from '$stores/authenticatedUserStore';
	import moment from 'moment';
	import YesNoDialog from '../YesNoDialog.svelte';
	import PostEditorDialog from '../PostEditor/PostEditorDialog.svelte';

	export let post: iPost;
	export let postComponent;
	export let removePost: (post: iPost) => void;
	export let insertPost: (post: iPost) => void;

	let loaderVisible: boolean = false;
	let commentLoaderVisible: boolean = false;
	let showComments: boolean = false;
	let comments: iComment[] = [];

	const loadComments = () => {
		if (!comments || comments.length == 0) {
			loaderVisible = true;
			getComments(post.user_id, post.ID).then((data: iComment[]) => {
				if (data && data.length > 0) {
					comments = data;
					comments.forEach((comment) => {
						comment.editing = false;
						comment.loadingVisible = false;
					});
				}
				loaderVisible = false;
			});
		}
	};

	function findComment(c) {
		return comments.findIndex((comment) => {
			return comment.ID === c.ID;
		});
	}

	function addComment(comment: iComment): Promise<boolean> {
		comment.post_id = post.ID;
		comment.user_id = $auth.user.ID;
		comment.user = $auth.user;
		comment.created_at = moment().format();
		// console.log(comment);
		commentLoaderVisible = true;
		return apiNewComment(comment)
			.then((newComment) => {
				comments = [...comments, newComment];
				post.comment_count = comments.length;
				post = post;
				commentLoaderVisible = false;
				return true;
			})
			.catch((err) => {
				console.log(err);
				//Show error
				commentLoaderVisible = false;
				return false;
			});
	}

	function updateCommentList(comment: iComment) {
		let idx = findComment(comment);
		if (idx !== -1) {
			comments[idx] = comment;
			comments = comments;
		}
	}

	function removeComment(comment: iComment) {
		comments = comments.filter((c) => {
			return comment.ID !== c.ID;
		});
		post.comment_count = comments.length;
	}

	let editPostDialogVisible: boolean = false;
	function editPost() {
		editPostDialogVisible = true;
	}

	function confirmDeletePost() {
		confirmDialogVisible = true;
	}

	let confirmDialogVisible: boolean = false;
	// Called when a user confirms they want to delete a post
	function yesCallback(event): void {
		apiDeletePost(post)
			.then(async (deleted) => {
				if (deleted) {
					removePost(post);
					confirmDialogVisible = false;
				}
			})
			.catch((error) => {
				console.log(error);
				confirmDialogVisible = false;
			});
	}

	// Called when a user cancels deleting a post
	function noCallback(event) {
		confirmDialogVisible = false;
	}

	// Called when a user clicks save on the post
	// editor dialog
	function savePost(post: iPost): Promise<void | iPost> {
		return updatePost(post)
			.then((result: iPost) => {
				insertPost(result);
				loaderVisible = false;
				return result;
			})
			.catch((error) => {
				// Show some error
				loaderVisible = false;
				return error;
			});
	}

	$: if (showComments) loadComments();
</script>

<svelte:component
	this={postComponent}
	{post}
	{comments}
	bind:showComments
	bind:commentLoaderVisible
	bind:loaderVisible
	deletePost={confirmDeletePost}
	{editPost}
	{addComment}
	{updateCommentList}
	{removeComment}
	on:introend
/>
<YesNoDialog {yesCallback} {noCallback} bind:visible={confirmDialogVisible}>
	<svelte:fragment>Are you sure you want to delete this journal entry?</svelte:fragment>
</YesNoDialog>
<PostEditorDialog {savePost} {post} bind:visible={editPostDialogVisible} />
