<script lang="ts">
	// import { authenticatedUser } from '$stores/authenticatedUserStore';
	import auth from '$stores/authenticatedUserStore';
	import type { iUser } from '$lib/types';
	import Loader4 from '$components/Loader4.svelte';
	import { visible, deleteData, deleteType } from '$lib/modernized/DeleteConfirmDialog.svelte';
	export let profileComponent;

	let activeUser: iUser;
	let loaderVisible: boolean = false;

	function setActiveUser(user: iUser) {
		activeUser = { ...user };
	}

	async function updateProfile(user: iUser) {
		loaderVisible = true;
		auth.updateUser(user).then((result) => {
			loaderVisible = false;
			if ($auth.error) {
				console.log($auth.error);
			}
		});
	}

	async function deleteUser() {
		$deleteType = 'your account';
		$deleteData = {
			model: $auth.user,
			deleteCallback: () => {
				auth.deleteUser().then((result) => {
					// Do something with the result
				});
			}
		};
		$visible = true;
	}

	async function updatePassword(user: iUser) {
		user.original = user.original.trim();
		user.first = user.first.trim();
		user.second = user.second.trim();
		if (!user.original) {
			//Show error
			return;
		}
		if (!user.first || !user.second || user.first !== user.second) {
			// Show error
			return;
		}

		auth.changePassword(user).then((result) => {
			resetUser();
			// if(!result) {
			// 	// Show error
			// }
		});
	}

	function resetUser() {
		setActiveUser($auth.user);
	}

	$: setActiveUser($auth.user);
</script>

{#if $auth.user.ID !== 0}
	<svelte:component
		this={profileComponent}
		{updatePassword}
		{updateProfile}
		{deleteUser}
		{activeUser}
		{resetUser}
	/>
	<Loader4 visible={loaderVisible} />
{/if}
