<script lang="ts">
	import type ThemeStyle from './themestyle';
	import { setContext, onMount } from 'svelte';
	import { writable } from 'svelte/store';
	import { presets } from './presets';

	export let themes: ThemeStyle[] = [...presets];

	let _current = themes[0].name;

	const getCurrentTheme = (name: string) => themes.find((h) => h.name === name);

	const Theme = writable(getCurrentTheme(_current));

	setContext('theme', {
		theme: Theme,
		toggle: () => {
			let _currentIndex = themes.findIndex((h) => h.name === _current);
			_current = themes[_currentIndex === themes.length - 1 ? 0 : (_currentIndex += 1)].name;

			Theme.update((t) => ({ ...t, ...getCurrentTheme(_current) }));
			setRootColors(getCurrentTheme(_current));
		},
		setNewTheme: (newTheme: ThemeStyle) => {
			if (newTheme && newTheme.name && newTheme.name.length > 0) {
				Theme.update((t) => ({ ...t, ...newTheme }));
				setRootColors(newTheme);
			}
		}
	});

	onMount(() => {
		setRootColors(getCurrentTheme(_current));
	});

	const setRootColors = (theme: ThemeStyle) => {
		// This will need to be modified
		for (let [prop, val] of Object.entries<string>(theme.theme)) {
			document.documentElement.style.setProperty(prop, val);
		}
		document.documentElement.style.setProperty('--theme-name', theme.name);
	};
</script>

<slot>
	<!-- content will go here -->
</slot>
