BODY{
	background-color: white;
	font-family: verdana,arial,serif;
	font-size: 10pt;
	color: black;
}

td {
	font-size: 10pt;
}

a:link {
	color: #336699;
	background-color: transparent;
	text-decoration: none;	
}

a:hover {
	background-color: transparent;
	text-decoration: underline;
	color: red;
}
a:visited {
	background-color: transparent;
	text-decoration: none;
	color: #330099;	
}

a.menu {
	padding: 5px;
	border-top: solid;
	border-top-width: 3px;
	border-bottom: solid;
	border-bottom-width: 3px;
	border-left-width: 0px;
	border-right-width: 0px;

}
a.menu:link {
	text-decoration: none;
	color: #336699;
	background: white;
}
a.menu:hover {
	text-decoration: underline;
	background: #d7e1eb;
}
a.menu:visited {
	text-decoration: none;
	color: #330099;
	background: white;
}

img {
	border: 0px;
}


div.rightalign {
	text-align: right;
}

div.logo {
	background: url("chess_logo.png");
	background-repeat: no-repeat;
	width: 300px;
	height: 83px;
	float: left;
}

div.mainmenu {
	padding: 20px;
	float: right;
	text-align: right;
	position: relative;
}

div.tagline {
	clear: both;
	padding: 4px;
	text-align: left;
}

div.entrytop {
	background: url("entrytop.png");
	background-repeat: no-repeat;
	width: 100%;
	height: 21px;
	float: left;
	clear: both;
}

div.entry {
	background: url("entryleft.png");
	background-repeat: no-repeat;
	width: 84px;
	height: 200px;
	float: left;
}

div.date {
	color: black;
	padding-top: 5px;
	margin-left: 90px;
}

div.lineend {
	height: 32px;
}

div.postend {
	clear: both;
}

div.post {	
	float: left;
	width: 100%;
	min-width: 20%;
}

div.entrycontainer {
	width: 100%;
	clear: both;
	margin-bottom: 40px;
}

div.header {
	width: 100%;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

div.footer {
	width: 100%;
	clear: both;
	font-size: 8pt;
	text-align: center;
}

div.posts {	
	float: left;
	max-width: 80%;
}

* html body div.posts {width: 80%;}

div.boxes {
	float: right;
	width: 18%;
}

div.box {
	width: 100%;
	margin-bottom: 20px;
}

div.boxcontent {
	background: url("boxback.png");
	background-repeat: no-repeat;
	padding: 4px;
}


div.boxtop {
	font-family: BankGothic Md BT, verdana, sans-serif;
	font-size: 18pt;
	text-align: right;
	height: 30px;
	width: 100%;
	padding-right: 4px;
	background: url("blanktop.png");
	background-repeat: no-repeat;
}

div.lyrictop {
	height: 30px;
	width: 100%;
	background: url("lyrictop.png");
	background-repeat: no-repeat;
}

div.leftside {
	background: url("leftside.png");
	background-repeat: no-repeat;
	width: 4px;
	height: 200px;
	float: left;
}

div.rightside {
	background: url("leftside.png");
	background-repeat: no-repeat;
	width: 4px;
	height: 200px;
	float: right;
}


div.postcontent {
	background: url("postback.png");
	background-repeat: no-repeat;
	margin-left: 84px;
	margin-top: 4px;
	border: solid black;
	border-width: 0px;
	border-left-width: 1px;
	border-top-width: 1px;
	padding: 4px;
}

div.commentcontainer {	
	clear: both;
	width: 100%;
	margin-bottom: 15px;
}

div.post_comment {		
	color: black;
	background: url("postback.png");
	background-repeat: no-repeat;
	border: solid black;
	border-width: 0px;
	border-left-width: 1px;
	border-top-width: 1px;
	padding: 4px;
	margin-left: 85px;
}

div.clearer {
	clear: both;
}

div.vent_options_title {
	font-size: 12pt;
	font-weight: bold;
	clear: both;

}

div.vent_system_error {
	color: red;
}

div.quote {
	margin-left: 20px;
	padding: 4px;
	background: url("quote_bg.png");
}


div.code {
	margin-left: 20px;
	padding: 4px;
	background: url("quote_bg.png");
	font-family: Courier New, Courier;
}




