BODY{
	background-color: gray;
	font-family: verdana,arial,serif;
	font-size: 10pt;
	color: black;
}

a:link {
	text-decoration: none;
	color: #336699;
}

a:hover {
	text-decoration: underline;
	color: red;
}

a.menu {
	width: 80%;
	float: right;
	clear: both;
	margin-bottom: 10px;
	margin-right: 10px;
}
a.menu:link {
	text-decoration: none;
	color: #336699;
	background: white;
}
a.menu:hover {
	text-decoration: underline;
	background: #d7e1eb;
}

div.logo {
	background: url("chess_logo.png");
	background-repeat: no-repeat;
	width: 190px;
	height: 83px;
}

div.mainmenu {
	width: 100%;
	text-align: right;
}

div.tagline {
	width: 100%;
	clear: both;
	padding: 4px;
	text-align: center;
	}

div.header {
	position: absolute;
	left:10px;
	top:50px;
	width:200px;
	background:#fff;
	border:1px solid #000;
}

div.entry {
	background: url("entry2.png");
	background-repeat: no-repeat;
	width: 81px;
	height: 13x;
	float: left;
}


div.date {
	color: black;
	font-size:10pt;
	float: left;
	height: 13px;
	padding-left: 10px;
	border: 5 px;

}

div.lineend {
	height: 30px;
}
div.postend {
	clear: both;
}

div.post {	
	position: relative;
	color: black;
	float: left;
}

div.entrycontainer {
	width: 100%;
	clear: both;
	margin-bottom: 40px;
	border: solid white 1px;
}



div.footer {
	width: 100%;
	clear: both;
	font-size: 8pt;
	text-align: center;
}

div.posts {	
	background:#fff;
	margin-left: 199px;
	margin-right:199px;
	border:1px solid #000;
	voice-family: "\"}\"";
	voice-family: inherit;
	margin-left: 201px;
	margin-right:201px;
}
html>body div.posts {
margin-left: 201px;
margin-right:201px;
}

div.boxes {
	position: absolute;
	right:10px;
	top:50px;
	width:200px;
	background:#fff;
	border:1px solid #000;
}


div.box {
	width: 100%;
	margin-bottom: 20px;
}

div.boxcontent {
	background: url("boxback.png");
	background-repeat: no-repeat;
	padding: 4px;
	width: 100%;
}


div.boxtop {
	font-family: BankGothic Md BT, verdana, sans-serif;
	font-size: 18pt;
	text-align: right;
	height: 30px;
	width: 100%;
	padding-right: 4px;
	background: url("blanktop.png");
	background-repeat: no-repeat;
}

div.postcontent {
	padding: 4px;
	width: 100%;
}

div.clearer {
	top: 300px;
}

div.quote {
	background: url("quote_bg.png");
}