<script lang="ts">
	import { fade } from 'svelte/transition';
	// import { replace } from 'svelte-spa-router';
	import { Textfield, Button } from '$components';
	import type { iUser } from '$lib/types';
	import { defaultUser } from '$lib/types';
	import { exists, signup } from '$lib/api';
	import { goto } from '$app/navigation';
	import Loader2 from '$components/Loader2.svelte';

	import RootContainer from '$components/RootContainer.svelte';
	import ContentContainer from '$components/ContentContainer.svelte';

	let usernameAvailable: boolean = false;
	let usernameFocus: boolean = false;
	let usernameError: string = '';

	let emailAvailable: boolean = false;
	let emailFocus: boolean = false;
	let emailError: string = '';

	let passwordFocus: boolean = false;
	let passwordError: string = '';

	let loaderVisible: boolean = false;

	let data: iUser = { ...defaultUser, first: '', second: '' };
	let confirmPasswordError: string = '';
	let confirmPasswordFocus: boolean = false;

	let confirmationSent: boolean = false;

	const onUsernameBlur = (e) => {
		if (data.username && data.username.length > 0) {
			usernameError = '';
			usernameFocus = false;
			exists(data.username.trim(), 'username')
				.then((result) => {
					console.log({ result: result, cond: !result });
					if (!result) {
						usernameError = '';
						usernameFocus = false;
						usernameAvailable = true;
					} else {
						usernameError = `Sorry, username '${data.username}' already taken.`;
						usernameFocus = true;
						usernameAvailable = false;
					}
				})
				.catch((err) => {
					console.log(err);
				});
		} else {
			usernameError = 'You must type a unique username';
			usernameFocus = true;
		}
	};

	const validateEmail = (email) => {
		const re =
			/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
		return re.test(email);
	};

	const onEmailBlur = (e) => {
		if (data.email && data.email.trim().length > 0) {
			if (!validateEmail(data.email.trim())) {
				emailError = 'Invalid email format';
				emailFocus = true;
			} else {
				exists(data.email.trim(), 'email')
					.then((result) => {
						if (!result) {
							emailError = '';
							emailFocus = false;
							emailAvailable = true;
						} else {
							emailError = `Sorry, email ${data.email.trim()} already exists. Maybe try a password reset?`;
							emailFocus = true;
							emailAvailable = false;
						}
					})
					.catch((error) => {
						console.log(error);
					});
			}
		} else {
			emailError = 'You must enter a valid email address';
			emailFocus = true;
		}
	};

	const onConfirmBlur = (e) => {
		if (!data.first) {
			passwordError = 'Password can not be empty';
		} else {
			passwordError = '';
		}

		if (!data.second) {
			confirmPasswordError = 'Must retype password';
		} else {
			confirmPasswordError = '';
		}

		if (data.first !== data.second) {
			confirmPasswordError = 'Passwords do not match';
		} else {
			confirmPasswordError = '';
		}
	};

	const onSignup = () => {
		data.username = data.username.trim();
		data.email = data.email.trim();
		// data.visibleemail = data.visibleemail.trim();

		//Final username verification
		if (!data.username) {
			usernameError = 'You must enter a unique username';
			usernameFocus = true;
			return;
		} else if (!usernameAvailable) {
			usernameError = `Sorry, username '${data.username}' already taken.`;
			usernameFocus = true;
			return;
		} else {
			usernameError = '';
			usernameFocus = false;
		}

		//Final email verification
		if (!data.email || data.email.length < 3 || !validateEmail(data.email)) {
			emailError = 'You must enter a valid email address';
			emailFocus = true;
			return;
		} else if (!emailAvailable) {
			emailError = `Sorry, email ${data.email} already exists. Maybe try a password reset?`;
			emailFocus = true;
		} else {
			emailError = '';
			emailFocus = false;
		}

		//Final password verification
		if (!data.first) {
			passwordError = 'You must enter a passord';
			passwordFocus = true;
			return;
		} else {
			passwordError = '';
			passwordFocus = false;
		}

		if (!data.second) {
			confirmPasswordError = 'You must retype your password';
			confirmPasswordFocus = true;
			return;
		} else {
			confirmPasswordError = '';
			confirmPasswordFocus = false;
		}

		if (data.first !== data.second) {
			confirmPasswordError = 'Passwords do not match';
			confirmPasswordFocus = true;
			return;
		} else {
			confirmPasswordError = '';
			confirmPasswordFocus = false;
		}

		loaderVisible = true;
		signup(data)
			.then((result) => {
				confirmationSent = true;
				loaderVisible = false;
			})
			.catch((err) => {
				console.log(err);
				loaderVisible = false;
			});
	};
</script>

<ContentContainer>
	<svelte:fragment slot="header">Join us</svelte:fragment>
	<div class="content signup-content">
		{#if !confirmationSent}
			<Textfield
				label="Username"
				name="username"
				color="var(--color)"
				disabled={loaderVisible}
				bind:value={data.username}
				error={usernameError}
				focus={usernameFocus}
				required
				on:blur={onUsernameBlur}
			/>
			<Textfield
				label="Email"
				type="email"
				name="email"
				disabled={loaderVisible}
				bind:value={data.email}
				error={emailError}
				focus={emailFocus}
				required
				on:blur={onEmailBlur}
			/>
			<Textfield
				label="Password"
				type="password"
				name="password"
				disabled={loaderVisible}
				bind:value={data.first}
				error={passwordError}
				focus={passwordFocus}
				required
			/>
			<Textfield
				label="Confirm password"
				type="password"
				autofill="off"
				disabled={loaderVisible}
				bind:value={data.second}
				error={confirmPasswordError}
				focus={confirmPasswordFocus}
				required
				on:blur={onConfirmBlur}
			/>
		{:else}
			<div class="confirmation">
				Thank you for joining us! An email has been sent to {data.email}. Please visit the link
				provided in the email to complete the registration.
			</div>
		{/if}
	</div>
	<div class="signup-footer">
		{#if !confirmationSent}
			<Button on:click={onSignup} color="primary" disabled={loaderVisible}>Join us</Button>
		{:else}
			<Button
				on:click={() => {
					goto('/journals', { replaceState: true });
				}}
				color="primary"
			>
				Return home
			</Button>
		{/if}
	</div>
	<Loader2 visible={loaderVisible} />
</ContentContainer>

<style>
	.signup-content {
		padding: var(--spacing, 8px);
		flex: 0 0 auto;
	}

	.signup-footer {
		display: flex;
		flex-direction: row-reverse;
		padding: var(--spacing);
	}

	.confirmation {
		font-size: 1.25rem;
		padding: var(--spacing, 8px);
	}
</style>
